/////////////////////////////////////////////////////////////////////
// AMC Section
section.section-amc {
  background-color: $primary-color;
  padding: 50px 10px;

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 5%;

    img {
      width: 250px;
      height: 150px;
      display: block;
      margin: 30px;
      object-fit: contain;
      border-radius: 25px;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-2%);
        opacity: 0.9;
        transition: transform 0.2s;
      }
    }

    // Class to fill the small the images
    img.fit {
      object-fit: fill;
    }
  }
}

////////////////////////////////////////////////////////////////////
// Statistics Section
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

section.section-statistics {
  background-color: white;
  padding: 50px 15% 50px 15%;
  padding-top: 85px;
  padding-bottom: 100px;

  // Tabs
  .section-statistics__tabs {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
    padding-left: 0px;

    @include devices(720px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // flex-wrap: wrap;
    }
  }

  li {
    padding: 7px 0px;
    background-color: #ededec;
    text-align: center;
    width: 19vw;
    margin: 1px;
    cursor: pointer;

    @include devices(720px) {
      width: 75vw;
    }
    a {
      font-weight: 400;
      color: black;
      text-decoration: none;
    }

    &:hover {
      background-color: rgb(187, 187, 187);
    }

    &.active {
      background-color: $secondary-color;

      a {
        color: white;
      }
    }
  }

  .section-statistics__tab {
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: self-start;
      align-content: center;

      @include devices(720px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
      }

      div {
        width: 15vw;
        margin: 1vw;

        @include devices(phone) {
          width: 75vw;
        }

        span.count {
          color: $primary-color;
          font-weight: 600;
          font-size: 2.5em;
          margin-bottom: 10px;
          // font-family: "Merriweather", serif;

          transition: --num 3s;
          counter-set: num var(--num);
          // font: 800 40px system-ui;
          &::before {
            content: counter(num);
          }

          // &:hover {
          //     --num: 100;
          //     // --num: attr(data-count);
          // }
        }

        span.count-of {
          color: #444545;
          text-transform: capitalize;
          font-size: 0.85em;
          width: 100%;
        }
      }
    }

    span {
      display: block;
      text-align: center;
      font-weight: 400;
      font-size: 1.1em;
      margin-bottom: 25px;
    }
    // margin-bottom: 500px;
  }
}

////////////////////////////////////////////////////////////////////
// Carousal Section
section.section-carousal {
  background-color: white;

  img {
    height: 50vh;
    object-fit: cover;
  }
}

/////////////////////////////////////////////////////////////////////
// News Section
.section-news__heading {
  background-color: white;
  display: block;
  margin: 0;
  padding-bottom: 75px;
}
.section-news {
  background-color: #f0f0f1;
  padding-bottom: 50px !important;
  &__cards {
    transform: translateY(-50px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

    * {
      transition: all 0.25s ease;
    }

    &--card {
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      border-top: 10px solid $secondary-color;
      border-bottom: 2px solid #298ebf;
      padding-bottom: 10px;

      &:nth-child(even) {
        transform: translateY(-25px);
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: rgb(198, 198, 198) 0px 0px 20px 0px;

        &:nth-child(even) {
          transform: translateY(-30px);
        }
      }
      // @include devices(tablet) {
      //     width: 300px;
      // }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 10px;

        &:hover {
          opacity: 0.75;
        }
      }

      &__content {
        h2 {
          padding: 15px;
          text-transform: capitalize;
          font-size: 1.5em;
          font-style: italic;

          a {
            text-decoration: none;
            color: $primary-color;

            &:hover {
              color: #298ebf;
              // text-decoration: underline;
            }
          }
        }

        p {
          padding: 15px;
          line-height: 25px;
          letter-spacing: 1px;
          text-align: justify;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
// Gallery
.gallery {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;

  // Gallery heading
  &__heading {
    span {
      margin: 10px 50px;
    }
  }

  // Gallery images continer
  &__images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(16, 150px);

    @include devices(tablet) {
      grid-template-columns: repeat(6, 2fr);
      grid-template-rows: repeat(24, 100px);
    }

    @include devices(phone) {
      grid-template-columns: repeat(4, 2fr);
      grid-template-rows: repeat(24, 100px);
    }

    // Gallery image styling
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: top;
      max-width: 100%;
      backface-visibility: hidden;
    }

    // Figure
    &--item {
      background-color: $secondary-color;
      color: black;
      display: inline-block;
      // margin: 8px;
      // max-width: 320px;
      // min-width: 240px;
      overflow: hidden;
      position: relative;
      text-align: center;
      margin: 0;
      width: 100%;
      cursor: pointer;

      * {
        box-sizing: border-box;
        transition: all 0.45s ease;
      }

      &::before,
      &::after {
        background-color: rgba($color: $secondary-color, $alpha: 0.5);
        border-top: 2rem solid rgba($color: $secondary-color, $alpha: 0.5);
        border-bottom: 2rem solid rgba($color: $secondary-color, $alpha: 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        transform: scaleY(2);
      }

      // Figure caption styles
      figcaption {
        position: absolute;
        padding: 0px 1rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        line-height: 1.1em;
        opacity: 0;
        z-index: 2;
        transition-delay: 0.1s;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: capitalize;

        h6 {
          font-size: 0.9em;
          color: white;
          text-shadow: $white-over-yellow-shadow;
        }

        a {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;
          transition: all 0.1s ease;

          &:hover {
            scale: 1.1;
          }

          &:active {
            scale: 1.05;
          }

          svg {
            fill: white;
          }
        }
      }

      &:hover::before,
      &:hover::after {
        transform: scale(1);
        opacity: 1;
      }

      &:hover > img {
        opacity: 0.7;
        scale: 1.1;
      }

      &:hover figcaption {
        opacity: 1;
      }

      // Grid layouts for images
      &-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 4;
        }
      }

      &-2 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;

        @include devices(tablet) {
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 1;
          grid-row-end: 5;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }

      &-3 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 4;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 6;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }

      &-4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 6;

        @include devices(tablet) {
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 5;
          grid-row-end: 8;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 6;
        }
      }

      &-5 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 5;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 6;
          grid-row-end: 8;
        }

        @include devices(phone) {
          grid-column-start: 2;
          grid-column-end: 5;
          grid-row-start: 4;
          grid-row-end: 6;
        }
      }

      &-6 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 8;
          grid-row-end: 10;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 6;
          grid-row-end: 11;
        }
      }

      &-7 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;

        @include devices(tablet) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 8;
          grid-row-end: 11;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 6;
          grid-row-end: 9;
        }
      }

      &-8 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;

        @include devices(tablet) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 8;
          grid-row-end: 10;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 9;
          grid-row-end: 11;
        }
      }

      &-9 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 9;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 10;
          grid-row-end: 13;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 11;
          grid-row-end: 13;
        }
      }
      &-10 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 9;

        @include devices(tablet) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 11;
          grid-row-end: 13;
        }

        @include devices(phone) {
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 11;
          grid-row-end: 13;
        }
      }

      &-11 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;

        @include devices(tablet) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 10;
          grid-row-end: 13;
        }

        @include devices(phone) {
          display: none;
        }
      }

      &-12 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;

        @include devices(tablet) {
          display: none;
        }
      }

      // Grid layouts for images (continued)

      // ... (existing code for images 1-12)

      &-13 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 11;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 13;
          grid-row-end: 16;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 13;
          grid-row-end: 16;
        }
      }

      &-14 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 11;

        @include devices(tablet) {
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 13;
          grid-row-end: 17;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 13;
          grid-row-end: 15;
        }
      }

      &-15 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 9;
        grid-row-end: 12;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 16;
          grid-row-end: 18;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 15;
          grid-row-end: 16;
        }
      }

      &-16 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 11;
        grid-row-end: 14;

        @include devices(tablet) {
          grid-column-start: 4;
          grid-column-end: 7;
          grid-row-start: 17;
          grid-row-end: 20;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 16;
          grid-row-end: 18;
        }
      }

      &-17 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 11;
        grid-row-end: 13;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 18;
          grid-row-end: 20;
        }

        @include devices(phone) {
          grid-column-start: 2;
          grid-column-end: 5;
          grid-row-start: 16;
          grid-row-end: 18;
        }
      }

      &-18 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 9;
        grid-row-end: 11;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 20;
          grid-row-end: 22;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 18;
          grid-row-end: 23;
        }
      }

      &-19 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 13;

        @include devices(tablet) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 20;
          grid-row-end: 23;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 18;
          grid-row-end: 21;
        }
      }

      &-20 {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 12;
        grid-row-end: 14;

        @include devices(tablet) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 20;
          grid-row-end: 22;
        }

        @include devices(phone) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 21;
          grid-row-end: 23;
        }
      }

      &-21 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 14;
        grid-row-end: 17;

        @include devices(tablet) {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 22;
          grid-row-end: 25;
        }

        @include devices(phone) {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 23;
          grid-row-end: 25;
        }
      }

      &-22 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 13;
        grid-row-end: 17;

        @include devices(tablet) {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 23;
          grid-row-end: 25;
        }

        @include devices(phone) {
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 23;
          grid-row-end: 25;
        }
      }

      &-23 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 13;
        grid-row-end: 14;

        @include devices(tablet) {
          grid-column-start: 5;
          grid-column-end: 7;
          grid-row-start: 22;
          grid-row-end: 25;
        }

        @include devices(phone) {
          display: none;
        }
      }

      &-24 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 14;
        grid-row-end: 17;

        @include devices(tablet) {
          display: none;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
// Visionaries Section
.section-visionaries {
  background-color: white;
  // padding: 0px 10px 10px 10px;

  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  // Visionaries heading
  &__headings {
    background-color: white;
  }

  // Cards container
  &__cards {
    padding-bottom: 100px;
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  // Gallery card styling
  &-card {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0px 10px;

    @include devices(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    // Image of card
    img {
      width: 700px;
      height: 500px;
      object-fit: cover;

      @include devices(tablet) {
        width: 75vw;
        height: 400px;
      }

      @include devices(phone) {
        width: 90vw;
        height: 350px;
      }
    }

    // Content div of card
    &__content {
      margin-left: -50px;
      width: 450px;
      min-height: 400px;
      box-shadow: 0px 0px 20px 0px rgb(198, 198, 198);
      background-color: white;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-1%);
        transition: transform 0.3s;
      }

      @include devices(tablet) {
        margin-left: 0px;
        margin-top: -100px;
        width: 65vw;
      }

      @include devices(phone) {
        margin-left: 0px;
        margin-top: -125px;
        width: 80vw;
      }

      // All content container
      div {
        margin: 40px 25px 20px 25px;
        cursor: default;

        // Designation heading
        h3 {
          text-transform: uppercase;
          font-weight: 550;
          font-size: 1em;
          background-color: $primary-color;
          color: white;
          font-style: italic;
          padding: 0.2em 1.5em;
          margin-bottom: 25px;
          border-radius: 50px;

          @include devices(tablet) {
            text-align: center;
          }
        }

        // Name heading
        h2 {
          text-decoration: none;
          text-transform: capitalize;
          font-style: italic;
          font-size: 1.5em;
          margin-bottom: 10px;
          @include devices(tablet) {
            text-align: center;
          }

          a {
            text-decoration: underline;
            position: relative;
            display: inline-block;
            // font-size: 2em;
            font-weight: 600;
            color: $secondary-color;
            overflow: hidden;
            background: linear-gradient(
              to right,
              $secondary-color,
              $secondary-color 50%,
              #14416f 50%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease;
            // text-decoration: none; // text decorations are clipped in WebKit browsers
            padding-left: 5px;
            border-bottom: 2px solid $primary-color;

            &:hover {
              background-position: 0 100%;
            }
          }
        }

        // About paragraph
        p {
          color: #444545;
          font-size: 0.9em;
          width: 100%;
          line-height: 25px;
          @include devices(tablet) {
            text-align: center;
          }
        }

        // Next button of the content
        button {
          width: 50px;
          border-radius: 50%;
          // border: 1px solid $secondary-color;
          border: none;
          background: none;
          padding: 10px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin: 20px 0px 0px 0px;
          @include devices(tablet) {
            margin-top: 2px;
          }
          cursor: pointer;

          &:hover {
            svg {
              fill: $secondary-color;
            }
          }

          svg {
            fill: $primary-color;
            width: 25px;
          }
        }

        @include devices(tablet) {
          margin-top: 30px;
        }
      }
    }
  }
}
