a:has(button) {
  display: block;
  text-decoration: none;
}

.link-underline-animate {
  position: relative;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color-hover;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color-hover;
    transform: scaleX(0);
    // transform-origi  n: top left;
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.primary_heading {
  background-color: white;
  color: $primary-color;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  cursor: default;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.left-aligned-heading {
  font-size: 3rem;
  font-family: $poppins;
  color: $primary-color;
  font-weight: 600;
  padding: 0 1rem;

  @include devices(tablet) {
    font-size: 2.5rem;
  }

  @include devices(phone) {
    font-size: 2rem;
  }
}

.link-underline-animate-left {
  position: relative;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color-hover;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color-hover;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.heading-sm-black,
.heading-sm-secondary {
  display: block;
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 1.1em;
  padding-bottom: 25px;
  background-color: white;
  // padding: 0px 15% 25px 15%;

  // @include devices(tablet) {
  //     padding: 0px 10% 25px 10%;
  // }

  // @include devices(phone) {
  //     padding: 0px 3% 25px 3%;
  // }
}

.heading-sm-black {
  color: black;
}
.heading-sm-secondary {
  color: $secondary-color;
}

.btn-psu {
  margin: 15px;
  border: 1px solid $tertiary-color;
  border-radius: 5px;
  color: rgb(112, 112, 112);
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 0.75em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: white;
    text-shadow: 1px 1px 3px grey;
  }
}

.btn-psu-large {
  display: block;
  margin: 0 auto;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  width: 100%;
  color: #444;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: $secondary-color;
    color: white;
    text-shadow: 1px 1px 3px grey;
  }
}

.btn-yellow-bg {
  position: relative;
  padding: 3rem 1rem;
  // display: flex;
  background-image: url("/data/imgs/college.jpg");
  background-color: $secondary-color;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;

  * {
    transition: all 0.25s ease-in-out;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    // opacity: 0.5; /* Adjust the opacity as per your preference */
    background-color: rgba($color: $secondary-color, $alpha: 0.75);
  }

  a {
    position: relative;
    text-decoration: none;
    z-index: 1000;
    flex: 1 0 45%;
    button {
      width: 90%;
      margin: 1rem auto;
      padding: 3rem;
      background: none;
      border: 1px solid white;
      display: block;
      font-size: 1.5rem;
      color: white;
      font-family: $merriweather;
      font-weight: 500;
      font-style: italic;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.btn-two {
  // padding: 0px 1rem;
  a {
    text-decoration: none;
  }

  button {
    margin: 15px auto;
    border: 1px solid #327a81;
    border-radius: 5px;
    width: 100%;
    color: #2b686e;
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #edf7f8;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: #daeff1;
      color: #398b93;
    }
  }
}

.btn-secondary {
  a {
    text-decoration: none;
  }

  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #2a80d9;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.15rem;
  padding: 0.85rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: lighten($primary-color, 20%);
  }

  ion-icon {
    font-size: 1.25em;
  }
}

.btn-svg {
  background: $secondary-color;
  color: white;
  font-family: inherit;
  // padding-left: 1em;
  font-size: 0.9em;
  font-weight: 600;
  font-family: $poppins;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 2.8em;
  margin: 0px 0.5em;
  cursor: pointer;

  .icon {
    background: white;
    // margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em $primary-color;
    right: 0.3em;
    transition: all 0.1s;
  }

  &:hover .icon {
    // width: calc(100% - 0.6em);
    transform: scale(1.1);
  }

  .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
}

.line-above-heading {
  z-index: -1;
  // margin-top: 75px;
  // width: 150px;
  height: 1px;
  background-color: $tertiary-color;
  transform: translateY(32px);
}

.heading-with-top-border {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  display: inline-block;
  border-top: 5px solid $primary-color-hover;
  padding: 10px 0px;
  font-size: 2rem;
  font-family: $poppins;
  font-weight: 600;
}

.heading-with-top-yellow-border {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  display: inline-block;
  border-top: 5px solid $secondary-color;
  padding: 10px 0px;
  font-size: 2rem;
  font-family: $poppins;
  font-weight: 600;
}

.text-blockquote {
  background: #f9f9f9;
  border-left: 10px solid $primary-color-hover;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  font-family: $merriweather;
  padding: 15px;

  &:before {
    position: absolute;
    color: $primary-color-hover;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}

.clear-text {
  color: #ffffff; /* Default text color (white) */
  text-shadow: 1px 1px 15px black; /* Text shadow to enhance visibility */
}

.star-ul {
  margin-left: 15px;
  list-style: none;
  list-style-position: outside;
  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0px;
    &::before {
      position: relative;
      top: -5px;
      content: "\2217";
      font-size: 1.5em;
      font-weight: 600;
      color: $primary-color-hover;
      padding-right: 0.5ch;
    }

    a {
      // transform: translateY(1px);
      text-decoration: none;
      color: black;
      border-bottom: 2px dotted $light-black;
      // font-weight: bold;
      font-family: $poppins;

      &:hover {
        color: $primary-color-hover;
        border-bottom: 2px dotted $primary-color-hover;
      }
    }
  }
}

.form-1 {
  background-color: $primary-color;
  border-radius: 15px;
  width: 100%;
  padding: 5rem 0;
  margin: 50px auto;

  h3 {
    margin: 0 auto;
    color: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    max-width: 85%;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  label {
    display: block;
    width: 85%;
    margin: 0 auto;
    // margin-bottom: -0.75rem;
    color: #f5f5f5;
    font-weight: 600;
  }

  .form-input {
    display: block;
    margin: 1rem auto;
    width: 85%;
    background-color: #f5f5f5;
    color: #242424;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    line-height: 1.15;
    font-size: 1rem;
    transition: all 0.2s;

    &:focus {
      box-shadow: 0px 0px 20px lighten($primary-color, $amount: 25%);
    }

    &::file-selector-button {
      border: none;
      background: lighten($primary-color, $amount: 25%);
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      margin-right: 1rem;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background: lighten($primary-color, $amount: 20%);
      }
    }
  }

  .form-input-upload {
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(8, 8, 8, 0.288);
    margin-top: 0.5rem;
  }

  .end-text {
    color: white;
    display: block;
    margin: 0 auto;
    width: 85%;
    font-size: 0.85rem;
    font-weight: 500;
    // margin-bottom: -0.75rem;
  }

  button {
    display: block;
    width: 85%;
    height: 40px;
    margin: 1rem auto;
    color: #fff;
    background: lighten($primary-color, $amount: 25%);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;

    &:hover {
      background: lighten($primary-color, $amount: 20%);
    }
  }

  select {
    padding-right: 1rem;
  }

  .half {
    display: inline;
    width: 100%;
  }

  .center {
    margin: 1rem auto !important;
    width: 85% !important;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 0 !important;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;

      label {
        text-align: left;
        margin: 0;
      }

      input,
      select,
      textarea {
        margin: 0;
        margin-top: 0.5rem;
      }
    }
  }

  // If input field is incorrect
  .incorrect {
    background: #e0dede;
    border: 1px solid red;
    box-shadow: 0px 0px 10px #cc0000;
  }

  // Login error message
  .error-msg {
    color: #e0dede;
    text-transform: capitalize;
    display: block;
    font-size: 0.9em;
    font-weight: 600;

    margin: 0 auto;
    margin-top: -1em;
    width: 85%;
    font-size: 0.85rem;
    // font-weight: 500;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.select-input {
  width: 100%;
  display: block;
  margin: 1rem auto;
  background-color: #f5f5f5;
  color: #242424;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid $primary-color;
  text-align: center;
  line-height: 1.15;
  font-size: 1rem;
  transition: all 0.2s;

  &::after {
    content: "";
  }
}

.pdf-viewer {
  width: 100%;
  height: 80vh;
}

.pdf {
  width: 100%;

  &__heading {
    background: $primary-color;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__container {
    height: 60vh;
    overflow: auto;
    display: flex;
    flex-direction: column;

    /* width */
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-color;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-color-hover;
    }
  }

  &__download {
    a {
      text-decoration: none;
      button {
        display: block;
        width: 100%;
        padding: 0.8rem;
        background: none;
        background: $primary-color-hover;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover {
          background-color: darken($color: $primary-color-hover, $amount: 5);
        }
      }
    }
  }
}

.certificate {
  max-width: 90%;
  // overflow: hidden;
  // margin: 0 auto;
  // border-radius: 15px;

  img {
    // margin: 3rem;
    box-shadow: 0px 0px 20px 1px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
}

.text-card {
  position: relative;
  color: #2e2e2f;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px #bbb;
  margin-bottom: 1rem;
  border: 3px dashed transparent;
  width: 100%;
  margin: 2rem auto !important;
  transition: all 0.25s ease;

  &:hover {
    // box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    box-shadow: 0px 0px 15px 0px #bbb;
    // border-color: rgba(162, 179, 207, 0.2) !important;
    border-color: $primary-color-hover !important;
  }

  p {
    font-size: 15px;
    margin: 1.2rem 0;
    margin-right: 2rem;
  }

  &__copy-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;

    * {
      transition: all 0.1s ease-in-out;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        svg {
          transform: scale(1.1);
          fill: $primary-color-hover;
        }
      }

      &:active {
        svg {
          transform: scale(1);
        }
      }
    }
  }

  &__copy-toast {
    display: none;
    position: absolute;
    top: -2.5rem;
    right: -0.5rem;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #bbb;
    // display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    z-index: 10000;
    transition: all 0.25s ease-in-out;

    svg {
      fill: $primary-color-hover;
    }
  }

  &__heading {
    width: 100%;

    span {
      display: block;
      border-radius: 5px;
      padding: 4px 13px;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      color: #ffffff;
      background-color: $primary-color-hover;
      text-align: center;

      a {
        color: white;
        text-decoration: none;
        border-bottom: 2px dotted white;
        font-weight: 600;
        font-family: $poppins;

        &:hover {
          color: #ddd;
          border-bottom: 2px dotted #ddd;
        }
      }
    }
  }

  &__attached-links {
    p {
      font-size: 1.15rem;
      font-weight: 500;
      margin: 0.5rem 0;
    }

    a {
      font-size: 0.8rem;
      font-family: $poppins;
      display: inline-block;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 0.25rem 1rem;
      margin-left: 0;
      color: black;
      background-color: #eee;

      * {
        transition: all 0.25s ease;
      }

      &:hover {
        transition: all 0.25s ease;
        background-color: #ddd;
      }
    }
  }

  &__footer {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      margin-right: 1rem;
      height: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #9fa4aa;
      text-transform: capitalize;

      a {
        text-decoration: none;
        color: #9fa4aa;
        border-bottom: 2px dotted #9fa4aa;
        font-size: 0.75rem;
        height: 100%;
        line-height: 100%;
        font-family: $poppins;
        font-weight: 500;

        &:hover {
          color: $primary-color-hover;
          border-bottom: 2px dotted $primary-color-hover;
        }
      }

      @include devices(phone) {
        margin: 0.5rem auto;
      }
    }

    svg {
      margin-right: 5px;
      height: 100%;
      stroke: #9fa4aa;
      fill: #9fa4aa;
    }

    @include devices(phone) {
      flex-direction: column;
    }

    &--participants {
      span {
        height: 30px;
        width: 30px;
        // background-color: $primary-color-hover;
        background-color: $primary-color;
        margin-right: -10px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: grid;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: #fff;
        padding: 2px;

        svg {
          stroke: #fff;
        }
      }
    }
  }

  &__del-btn {
    width: 100%;
    margin-top: 1.5rem;
    background: none;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: #ffe8e8;
    color: red;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      box-shadow: 0px 0px 3px red;
    }
  }

  a {
    text-decoration: none;

    button {
      width: 100%;
      margin-top: 2rem;
      border-radius: 5px;
      border: 1px solid $secondary-color;
      padding: 0.25rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.25s ease;

      &:hover {
        background-color: $secondary-color;
        text-shadow: 0px 0px 5px #777;
        color: white;
      }
    }
  }

  a.view {
    text-decoration: none;

    button {
      color: white;
      display: flex;
      font-family: $poppins;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      width: 100%;
      border-radius: 5px;
      border: none;
      // border: 1px solid $secondary-color;
      padding: 0.25rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.25s ease;
      background-color: $primary-color-hover;

      svg {
        color: white;
      }

      &:hover {
        transition: all 0.25s ease-in-out;
        background-color: $primary-color;
        text-shadow: 0px 0px 5px #777;
        color: white;
        svg {
          scale: 1.1;
          transform: rotate(-10deg);
        }
      }
    }
  }

  a.delete {
    button {
      margin-top: 1rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      border: none;
      background-color: rgb(214, 0, 0);
      transition: all 0.25s ease;

      &:hover {
        background-color: red;
        svg {
          transform: rotate(-15deg);
        }
      }
    }
  }

  .redressedOn {
    font-size: 0.9rem;
    color: #777;
    font-weight: 500;
  }
}

.beautiful-ol-num {
  list-style: none;
  counter-reset: item;
  li {
    list-style-position: inside;
    counter-increment: item;
    margin-bottom: 5px;
    font-weight: 500;
    // font-size: 1.5rem;

    &::before {
      margin-right: 1rem;
      content: counter(item);
      background: $primary-color-hover;
      border-radius: 100%;
      color: white;
      text-align: center;
      display: inline-flex;
      width: 1.5rem;
      height: 1.5rem;
      font-weight: bold;
      align-items: center;
      justify-content: center;
    }
  }
}

.square-cards {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  * {
    transition: all 0.25s ease-in;
  }
  .square-cards__item {
    position: relative;
    text-align: center;
    color: white;
    height: 20rem;
    width: 25rem;

    &:hover {
      box-shadow: 0px 0px 15px 3px #aaa;
      transform: translateY(-3px);
    }

    a {
      text-decoration: none;
      color: white;

      img {
        width: 100%;
        object-fit: cover;
        height: 20rem;
      }

      div {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        // display: inline;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: $primary-color, $alpha: 0.75);
        width: 100%;
        height: 20rem;

        h2,
        p {
          width: 90%;
        }

        h2 {
          font-size: 2rem !important;
          font-weight: 600;
          font-family: $merriweather;
          font-style: italic;
          margin-bottom: 1rem;
        }

        p {
          text-align: center !important;
          font-weight: 500;
        }
      }
    }
  }
}

.important-note {
  * {
    transition: all 0.25s ease-in-out !important;
  }

  background-color: #ffd1d1;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid red;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px red;
    // transform: scale(1.01);
  }
}

.info-note {
  * {
    transition: all 0.25s ease-in-out !important;
  }

  background-color: #ff910050;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px #ff9100;
    // transform: scale(1.01);
  }
}

.error-note {
  * {
    transition: all 0.25s ease-in-out !important;
  }

  display: flex;
  gap: 1rem;

  background-color: rgb(255, 196, 196);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid red;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px red;
  }

  svg {
    fill: red;
    min-height: 1.5rem;
  }
}

.success-note {
  * {
    transition: all 0.25s ease-in-out !important;
  }

  display: flex;
  gap: 1rem;

  background-color: rgb(220 255 220);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid green;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px green;
  }

  svg {
    fill: green;
    min-height: 1.5rem;
  }

  .text {
    text-align: justify;
  }
}

.pdf-modal {
  display: none;
  position: fixed;
  // display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  z-index: 10000;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 15px;

  &__header {
    width: 100%;
    span {
      border-radius: 15px 15px 0 0;
      display: block;
      background-color: #15416f;
      // background-color: lighten($primary-color, 25%);
      color: white;
      text-align: center;
      padding: 0.5rem;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__content {
    width: 75vw;
    max-height: 60vh;
    background-color: grey;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-color;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-color-hover;
    }

    &--container {
      // height: 60vh;
      display: flex;
      flex-direction: column;
    }

    @include devices(phone) {
      width: 90vw;
    }
  }

  &__footer {
    width: 100%;
    a {
      text-decoration: none;
      font-family: $poppins;
      button {
        display: block;
        margin: 0.5rem auto;
        width: 90%;

        background-color: lighten($primary-color, 25%);
        border-radius: 5px;
        border: none;
        color: white;
        font-size: 1em;
        padding: 0.5rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: lighten($primary-color, 20%);
        }
      }
      button.close-pvm {
        background-color: red;

        &:hover {
          background-color: darken(red, 10%);
        }
      }
    }
  }
}
body.modal-open {
  overflow: hidden;
}
body.pdf-modal-open .pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgb(0 0 0 / 50%);
  pointer-events: auto;
  z-index: 10;
}

// Modal Styles and its corresponding styles for the body
.modal-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;

  .modal {
    background-color: $primary-color;
    color: white;
    width: 100%;
    border-radius: 15px;
    max-width: 25rem;
    padding: 2rem;
    margin: 0px 1rem;

    display: none;
    position: relative;
    z-index: 1;
    // left: 50%;
    top: -4rem;
    // transform: translate((-50%, -50%));
    width: 100%;
    overflow: auto;
    animation-name: modal-open;
    animation-duration: 0.4s;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 3rem;
      }

      &__btns {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        button {
          color: #fff;
          // background: #573b8a;
          font-size: 1rem;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.1s ease-in;
          padding: 0.5rem 1rem;
        }

        .btn-cancel {
          color: black;
          background-color: $tertiary-color;

          &:hover {
            background: darken($tertiary-color, 10%);
          }
        }

        .btn-confirm {
          background: lighten($primary-color, $amount: 25%);

          &:hover {
            background: lighten($primary-color, $amount: 20%);
          }
        }
      }
    }
  }
}
body.modal-open {
  overflow: hidden;
}
body.modal-open .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgb(0 0 0 / 50%);
  pointer-events: auto;
  z-index: 10;
}

// Modal Styles and its corresponding styles for the body
.admission-modal-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;

  .modal {
    background-color: $primary-color;
    color: white;
    width: 100%;
    border-radius: 15px;
    max-width: 25rem;
    padding: 2rem;
    margin: 0px 1rem;

    display: none;
    position: relative;
    z-index: 1;
    // left: 50%;
    top: -4rem;
    // transform: translate((-50%, -50%));
    width: 100%;
    overflow: auto;
    animation-name: modal-open;
    animation-duration: 0.4s;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 3rem;
      }

      &__btns {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        button {
          color: #fff;
          // background: #573b8a;
          font-size: 1rem;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.1s ease-in;
          padding: 0.5rem 1rem;
        }

        .btn-cancel {
          color: black;
          background-color: $tertiary-color;

          &:hover {
            background: darken($tertiary-color, 10%);
          }
        }

        .btn-confirm {
          background: lighten($primary-color, $amount: 25%);

          &:hover {
            background: lighten($primary-color, $amount: 20%);
          }
        }
      }
    }
  }
}
body.admission-modal-open {
  overflow: hidden;
}
body.admission-modal-open .admission-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgb(0 0 0 / 50%);
  pointer-events: auto;
  z-index: 10;
}

.overlay-section {
  position: relative;
  background-image: url("/data/imgs/testimonial-background-2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100vw !important;
  // margin: 0 auto;
  min-height: 85vh; /* Adjust the height as needed */
  padding: 3rem 0;
  // top: 50%;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      $secondary-color,
      0.75
    ); /* Yellowish overlay color */
  }
}

.redressal-form {
  margin-top: 2rem;
  &__input {
    display: block;
    width: 100%;
    margin: 1rem auto;
    background-color: #f5f5f5;
    color: #242424;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #777;
    line-height: 1.15;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;

    * {
      transition: all 0.2s ease-in-out;
    }

    &:focus {
      border: 1px solid $primary-color-hover;
      box-shadow: 0px 0px 5px $primary-color-hover;
    }

    &:disabled {
      color: #777;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin: 1rem auto;
    width: 100%;
    height: 35px;
    color: $primary-color-hover;
    // background: lighten($primary-color, $amount: 25%);
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid $primary-color-hover;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;

    &:hover {
      color: #fff;
      background: lighten($primary-color, $amount: 15%);
    }

    ion-icon {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.link-inside-p {
  text-decoration: none;
  color: $primary-color;
  font-family: $poppins;
  font-weight: bold;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $primary-color-hover;
  }
}

.logo-slider {
  div {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include devices(1600px) {
    justify-content: center;
  }

  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    &:hover {
      // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
      box-shadow: rgb(0, 0, 0, 0.4) 0px 20px 30px -10px;
      transform: translateY(-0.25rem);
    }

    .card__exit {
      grid-row: 1/2;
      justify-self: end;
    }

    .card__icon {
      grid-row: 2/3;
      font-size: 30px;

      ion-icon {
        font-size: 3rem;
        font-weight: 500;
      }
    }

    .card__title {
      margin-top: 0.5rem;
      grid-row: 3/4;
      font-weight: 500;
      font-size: 1.15rem;
      color: #ffffff;
      // font-family: $poppins;
    }

    .card__apply {
      grid-row: 4/5;
      align-self: center;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        ion-icon {
          font-size: 1.25rem;
          font-weight: 700;
        }
      }

      .card__link {
        &::after {
          position: absolute;
          top: 25px;
          left: 0;
          content: "";
          width: 0%;
          height: 3px;
          background-color: rgba(255, 255, 255, 0.6);
          transition: all 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .card__link,
    .card__exit,
    .card__icon {
      position: relative;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .card {
    background: radial-gradient(lighten($primary-color, 25%), $primary-color);
  }
  // .card-2 {
  //     background: radial-gradient(lighten($secondary-color, 25%), $secondary-color);
  // }
  // .card-3 {
  //     background: radial-gradient(#76b2fe, #b69efe);
  // }
  // .card-4 {
  //     background: radial-gradient(#60efbc, #58d5c9);
  // }
  // .card-5 {
  //     background: radial-gradient(#f588d8, #c0a3e5);
  // }
}

.notifications-slider {
  .slick-list {
    .slick-track {
      display: flex !important;
      align-items: center !important;

      .slick-slide {
        margin: 1rem !important;
      }
    }
  }
}

.inpage-img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px;
}
