// Colors
$primary-color: #14416f;
// $primary-color-hover: #185189;
$primary-color-hover: #288ebe;
$secondary-color: #ff9100;
$secondary-color-hover: #f6a134;
$tertiary-color: #e0e0e0;
$light-black: #212529;

// Fonts
$merriweather: "Merriweather", serif;
$poppins: "Poppins", sans-serif;

// Shadows
$white-over-yellow-shadow: 1px 1px 3px grey;

$phone: 640px; // Phone breakpoint
$tablet: 1024px; // Tablet breakpoint