extends ../layouts/cms-base.pug

block content 
    main
        .cont-sm.cms-admin
            //- Buttons
            .cms-admin-btns
                //- Home dash button
                a(href="/cms/admin-home").cms-admin-btns-btn
                    ion-icon(name="home" size="large")
                    h3 Home
                    span Dashboard

                //- Notifications dash button
                a(href="/cms/admin-notifications").cms-admin-btns-btn
                    ion-icon(name="notifications" size="large")
                    h3 Notifications 
                    span Dashboard

                //- News dash button
                a(href="/cms/admin-news").cms-admin-btns-btn
                    ion-icon(name="newspaper" size="large")
                    h3 News 
                    span Dashboard

                //- Events dash button
                a(href="/cms/admin-events").cms-admin-btns-btn
                    ion-icon(name="calendar" size="large")
                    h3 Events
                    span Dashboard

                //- Feedbacks dash button
                a(href="/cms/feedbacks").cms-admin-btns-btn
                    ion-icon(name="document-text" size="large")
                    h3 Feedbacks
                    span Dashboard

                //- Contact Submissions dash button
                a(href="/cms/contact-form-submissions").cms-admin-btns-btn
                    ion-icon(name="document-text" size="large")
                    h3 Contact Submissions
                    span Dashboard

