extends ../layouts/cms-base.pug

block content 
    main
        .cont-sm.cms-admin
            //- Buttons
            .cms-admin-btns
                //- Home dash button
                a(href="/cms/admin-home").cms-admin-btns-btn
                    ion-icon(name="home" size="large")
                    h3 Home
                    span Dashboard

                //- Notifications dash button
                a(href="/cms/admin-notifications").cms-admin-btns-btn
                    ion-icon(name="notifications" size="large")
                    h3 Notifications 
                    span Dashboard

                //- News dash button
                a(href="/cms/admin-news").cms-admin-btns-btn
                    ion-icon(name="newspaper" size="large")
                    h3 News 
                    span Dashboard

                //- Events dash button
                a(href="/cms/admin-events").cms-admin-btns-btn
                    ion-icon(name="calendar" size="large")
                    h3 Events
                    span Dashboard

                //- Feedbacks dash button
                a(href="/cms/feedbacks").cms-admin-btns-btn
                    ion-icon(name="document-text" size="large")
                    h3 Feedbacks
                    span Dashboard

                //- Contact Submissions dash button
                a(href="/cms/contact-form-submissions").cms-admin-btns-btn
                    ion-icon(name="document-text" size="large")
                    h3 Contact Submissions
                    span Dashboard

                a(href="/cms/admin-marquee").cms-admin-btns-btn
                    ion-icon(name="document-text" size="large")
                    h3 Marquee Links
                    span Dashboard
                
                //- Visionaries dash button
                a(href="/cms/admin-visionaries").cms-admin-btns-btn
                    ion-icon(name="people" size="large")
                    h3 Visionaries
                    span Dashboard

                a(href="/cms/admin-statistics").cms-admin-btns-btn
                    ion-icon(name="stats-chart" size="large")
                    h3 Statistics
                    span Dashboard
                
                //- courses dash button
                a(href="/cms/courses").cms-admin-btns-btn
                    ion-icon(name="school" size="large")
                    h3 Courses
                    span Dashboard

                a(href="/cms/banners").cms-admin-btns-btn
                    ion-icon(name="images" size="large")
                    h3 Banners
                    span Dashboard
                a(href="/cms/admin-aqar").cms-admin-btns-btn
                    ion-icon(name="folder" size="large")
                    h3 AQAR
                    span Dashboard

                a(href="/cms/admin-mom").cms-admin-btns-btn
                    ion-icon(name="folder" size="large")
                    h3 years meetings minutes
                    span Dashboard

