extends ../layouts/base.pug

block styles 
    //- Open Graph Tags
    meta(property="og:title" content="IITM - Academics")
    meta(name="og:description" content="Discover academic excellence at Iqbal Institute of Technology and Management. Specializing in Computer Science and Management, our curriculum empowers students with essential knowledge and skills for dynamic careers. Join us for a transformative academic journey.")
    meta(name="og:image" content=bannerImg)
    
    //- Meta Description
    meta(name="description" content="Discover academic excellence at Iqbal Institute of Technology and Management. Specializing in Computer Science and Management, our curriculum empowers students with essential knowledge and skills for dynamic careers. Join us for a transformative academic journey.")

block content
    //- include ../layouts/banner.pug
    main.academics-page.container-lg

        h3.academics-page__introduction At Iqbal Institute of Technology and Management, we specialize in providing focused programs in Computer Science and Management. Our curriculum is designed to equip students with the necessary knowledge and skills for success in these fields. Our Computer Science Department offers cutting-edge courses in programming, software development, data analysis, and artificial intelligence. In our Management Department, students gain expertise in areas such as marketing, finance, human resources, and entrepreneurship. With dedicated faculty and practical learning opportunities, we prepare students for rewarding careers in these dynamic industries.

        div.margin-top-sm.margin-bottom-md
            .square-cards
                .square-cards__item 
                    a(href="/academics/cs")
                        img(src="/data/imgs/computer-science-banner.jpg")
                        div
                            h2 Computer Science
                            p Explore the World of Computing Excellence.

                .square-cards__item 
                    a(href="/academics/management")
                        img(src="/data/imgs/management-studies-banner.jpg")
                        div
                            h2 Management Studies
                            p Explore the Pathways to Effective Leadership.