extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            //- Course introduction
            h1.page-heading bachelor of computer applications
            p Bachelor of Computer Application (BCA) is a three-year undergraduate degree program that focuses on the principles and practices of computer applications. The program is designed to provide students with a strong foundation in computer programming languages, software development, database management, computer networks, and web design.
            p The curriculum of BCA typically includes courses on programming languages such as C++, Java, and Python, database management systems like Oracle, MySQL, and SQL Server, web development using HTML, CSS, and JavaScript, computer networking, operating systems, software engineering, and project management.
            p The program is intended to prepare students for various career opportunities in the IT industry, including software development, system analysis, database administration, network administration, web development, and mobile application development. Graduates of BCA can also pursue higher education in the field of computer applications, such as MCA, MBA (IT), or MS in Computer Science.

            //- Cards container
            .course-specs-cards-container.align-cards-center
                //- Card
                .course-specs-card
                    //- Header of the card
                    .header
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z")
                        h1.title Duration
                    //- Content of the card
                    .content
                        p 3 Years
                        p.small
                            | Duration of BCA program is 
                            span.bold 3 years
                            | , divided into 
                            span.bold 6 semesters
                            | , focusing On Computer Science Concepts And Applications.

                //- Card
                .course-specs-card
                    .header
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(d='M0 0h24v24H0z' fill='none')
                            path(d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z")
                        h1.title Eligibility
                    .content
                        p 10+2 Passout
                        p.small with Mathematics/ Statistics/ Computer Applications/ Information Technology/ Information Practice OR Equivalent

                //- Card
                .course-specs-card
                    .header
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(d='M0 0h24v24H0z' fill='none')
                            path(d="M168 80c-13.3 0-24 10.7-24 24V408c0 8.4-1.4 16.5-4.1 24H440c13.3 0 24-10.7 24-24V104c0-13.3-10.7-24-24-24H168zM72 480c-39.8 0-72-32.2-72-72V112C0 98.7 10.7 88 24 88s24 10.7 24 24V408c0 13.3 10.7 24 24 24s24-10.7 24-24V104c0-39.8 32.2-72 72-72H440c39.8 0 72 32.2 72 72V408c0 39.8-32.2 72-72 72H72zM176 136c0-13.3 10.7-24 24-24h96c13.3 0 24 10.7 24 24v80c0 13.3-10.7 24-24 24H200c-13.3 0-24-10.7-24-24V136zm200-24h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H376c-13.3 0-24-10.7-24-24s10.7-24 24-24zM200 272H408c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 80H408c13.3 0 24 10.7 24 24s-10.7 24-24 24H200c-13.3 0-24-10.7-24-24s10.7-24 24-24z")
                        h1.title Admission Criteria
                    .content
                        p CUET
                        p.small
                            | BCA admissions are based on a 
                            span.bold common university entrance test
                            | , assessing students' aptitude in English, math, reasoning, and general knowledge.

                //- Card
                .course-specs-card
                    .header
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512")
                            path(d='M0 0h24v24H0z' fill='none')
                            path(d="M160 64c0-35.3 28.7-64 64-64H576c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H336.8c-11.8-25.5-29.9-47.5-52.4-64H384V320c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v32h64V64L224 64v49.1C205.2 102.2 183.3 96 160 96V64zm0 64a96 96 0 1 1 0 192 96 96 0 1 1 0-192zM133.3 352h53.3C260.3 352 320 411.7 320 485.3c0 14.7-11.9 26.7-26.7 26.7H26.7C11.9 512 0 500.1 0 485.3C0 411.7 59.7 352 133.3 352z")
                        h1.title Program Mode
                    .content
                        p Regular
                        p.small We offer BCA program in a regular mode with full-time classes.

                //- Card
                .course-specs-card
                    .header
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                            path(d='M0 0h24v24H0z' fill='none')
                            path(d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z")
                        h1.title Fee Structure
                    .content
                        p ₹30,000
                        p.small this is the fee for one year (two semesters), which may be subject to minor additional charges.

            //- Program Outcomes
            .line-above-heading
            h2.heading-with-top-border programme outcomes
            ol.beautiful-list(style='--length: 12' role='list')
                li(style='--i: 1')
                    h3 Communication
                    p Demonstrate english language proficiency to an appropriate level to perform effectively in the enterprise/industry/Community such as being able to comprehend and write effective reports and design documentation, make effective presentations and give and receive clear instructions. 
                li(style='--i: 2')
                    h3 Domain knowledge
                    p Develop domain knowledge relevant to the industry enabling to succeed in rapidly changing working environment.
                li(style='--i: 3')
                    h3 Technical skills
                    p Ability to apply the knowledge of computer system design principles in building system software and hardware.
                li(style='--i: 4')
                    h3 Knowledge inter-disciplinary in nature
                    p Acquiring adequate knowledge in interdisciplinary subjects much as Commerce, Mathematics and Statistics for enhanced applications of softwares developed.
                li(style='--i: 5')
                    h3 Positive attitude
                    p Developing positive attitude by instilling confidence within minds of students by suitable programs. 
                li(style='--i: 6')
                    h3 Critical thinking and problem solving skills
                    p An ability to make the students think out of the box and solve complex problems arising in step floor situation.
                li(style='--i: 7')
                    h3 Dynamism and team building skills
                    p An ability to function effectively and proactively and in teams ,to accomplish a common goal.
                li(style='--i: 8')
                    h3 Professional ethics and social values
                    p Ability to carry out any task with professional ethics and with out deviating from social values.
                li(style='--i: 9')
                    h3 Self-awareness and emotional intelligence
                    p An ability to recognize their own Strength and weekness and balance their own emotions at the time of crisis.
                li(style='--i: 10')
                    h3 Entrepreneurship qualities
                    p An ability to acquire entrepreneurship qualities and to take efforts to became entrepreneurs.
                li(style='--i: 11')
                    h3 Responsibility towards society and environment
                    p Realizing the responsibilities towards the society and to protect the environment, use ours professional knowledge for providing better living condition to the people. 
                li(style='--i: 12')
                    h3 Thirst for knowledge through lifelong learning
                    p Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change. 

            //- Course structure
            .line-above-heading
            h2.heading-with-top-border course structure
            .courses-table
                table(cellspacing='0')
                    //- Table headers
                    tr
                        th.border-bottom-solid(rowspan=2) Semester
                        th.border-bottom-solid(rowspan=2) Subject Code
                        th.border-bottom-solid(rowspan=2) Name of the subject
                        th.border-bottom-solid(colspan=4) Credits
                    tr
                        th.border-bottom-solid L
                        th.border-bottom-solid T 
                        th.border-bottom-solid P 
                        th.border-bottom-solid Total

                    //- Semester 1
                    tr
                        td.border-right.border-bottom-solid(rowspan=4) I
                        td BCA120C1
                        td Programming in C/C++
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA120C2
                        td Discrete Structures
                        td 4
                        td 2
                        td 0
                        td 6
                    tr
                        td AECC-II
                        td Environmental Studies
                        td 4
                        td 0
                        td 0
                        td 6
                    tr
                        td.border-bottom-solid GE-I
                        td.border-bottom-solid.text-align-left
                            | General Elective 1 (GE1) Any One:
                            ol 
                                li Mathematics 
                                li Statistics 
                                li Physics 
                                li Electronics 
                                li Botany 
                                li Chemistry
                                li Zoology
                                li Economics 
                                li Education 
                                li Psychology 
                                li Sociology 
                                li Commerce: Business Law 
                                li Business Management: Principles of Management
                        td.border-bottom-solid 4
                        td.border-bottom-solid 2/0
                        td.border-bottom-solid 0/2
                        td.border-bottom-solid 6

                    //- Semester 2
                    tr
                        td.border-right.border-bottom-solid(rowspan=4) II
                        td BCA220C1
                        td Programming in Java
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA220C2
                        td Computer System Architecture
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td AECCs
                        td English Communication Skills
                        td 4
                        td 0
                        td 0
                        td 6
                    tr
                        td.border-bottom-solid GE-II
                        td.border-bottom-solid.text-align-left
                            | General Elective 2 (GE2) Any One:
                            ol 
                                li Mathematics 
                                li Statistics 
                                li Physics 
                                li Electronics 
                                li Botany 
                                li Chemistry
                                li Zoology
                                li Economics 
                                li Education 
                                li Psychology 
                                li Sociology 
                                li Commerce: Business Law 
                                li Business Management: Principles of Management
                        td.border-bottom-solid 4
                        td.border-bottom-solid 2/0
                        td.border-bottom-solid 0/2
                        td.border-bottom-solid 6

                    //- Semester 3
                    tr
                        td.border-right.border-bottom-solid(rowspan=5) III
                        td BCA320C1
                        td Data Structures
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA320C2
                        td Operating Systems
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA320C3
                        td Computer Networks
                        td 4
                        td 0
                        td 0
                        td 6
                    tr
                        td SEC320S
                        td Skill Enhancement Course (FROM 3RD SEMESTER BASKET)
                        td 4
                        td 0
                        td 0
                        td 6
                    tr
                        td.border-bottom-solid GE-III
                        td.border-bottom-solid.text-align-left
                            | General Elective 3 (GE3) Any One:
                            ol 
                                li Mathematics 
                                li Statistics 
                                li Physics 
                                li Electronics 
                                li Botany 
                                li Chemistry
                                li Zoology
                                li Economics 
                                li Education 
                                li Psychology 
                                li Sociology 
                                li Commerce: Business Law 
                                li Business Management: Principles of Management
                        td.border-bottom-solid 4
                        td.border-bottom-solid 2/0
                        td.border-bottom-solid 0/2
                        td.border-bottom-solid 6

                    //- Semester 4
                    tr
                        td.border-right.border-bottom-solid.bg-colored(rowspan=5) IV
                        td BCA420C1
                        td Design and Analysis of Algorithms
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA420C2
                        td Software Engineering
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA420C3
                        td Database Management System
                        td 4
                        td 0
                        td 0
                        td 6
                    tr
                        td DM420S
                        td Disaster Management
                        td 2
                        td 2
                        td 0
                        td 4
                    tr
                        td.border-bottom-solid GE-IV
                        td.border-bottom-solid.text-align-left 
                            | General Elective 4 (GE4) Any One:
                            ol 
                                li Mathematics 
                                li Statistics 
                                li Physics 
                                li Electronics 
                                li Botany 
                                li Chemistry
                                li Zoology
                                li Economics 
                                li Education 
                                li Psychology 
                                li Sociology 
                                li Commerce: Business Law 
                                li Business Management: Principles of Management
                        td.border-bottom-solid 4
                        td.border-bottom-solid 2/0
                        td.border-bottom-solid 0/2
                        td.border-bottom-solid 6

                    //- Semester 5
                    tr
                        td.border-right.border-bottom-solid(rowspan=4) V
                        td BCA520C1
                        td Internet Technologies
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA520C2
                        td Theory of Computation
                        td 4
                        td 2
                        td 0
                        td 6
                    tr
                        td 
                            | BCA520D1A
                            br
                            | OR
                            br
                            | BCA520D1B
                        td
                            | Numeraical Methods
                            br
                            | OR
                            br
                            | Information Security
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td.border-bottom-solid 
                            | BCA520D2A
                            br
                            | OR
                            br
                            | BCA520D2B
                        td.border-bottom-solid
                            | Data Mining
                            br
                            | OR
                            br
                            | Machine Learning
                        td.border-bottom-solid 4
                        td.border-bottom-solid 0
                        td.border-bottom-solid 2
                        td.border-bottom-solid 6

                    //- Semester 6
                    tr
                        td.border-right.border-bottom-solid(rowspan=4) VI
                        td BCA620C1
                        td Artificial Intelligence
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td BCA620C2
                        td Computer Graphics
                        td 4
                        td 2
                        td 0
                        td 6
                    tr
                        td 
                            | BCA620D1A
                            br
                            | OR
                            br
                            | BCA620D1B
                        td
                            | Cloud Computing
                            br
                            | OR
                            br
                            | Python Programming
                        td 4
                        td 0
                        td 2
                        td 6
                    tr
                        td.border-bottom-solid BCA620D2
                        td.border-bottom-solid Dissertation/Project Work 
                        td.border-bottom-solid 0
                        td.border-bottom-solid 4
                        td.border-bottom-solid 2
                        td.border-bottom-solid 6

                    //- Total
                    tr
                        td.border-right(colspan=3) Total
                        td 
                        td 
                        td 
                        td 148

            div.btn-two
                a(href="")
                    button.btn-two Download Course Structure
