extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading E-Resources
                p In today's digital age, access to electronic resources is a crucial aspect of education. As a college dedicated to providing the best learning opportunities, we understand the importance of e-resources for our computer science and management students. To support your academic journey, we have compiled a list of e-resources. These resources cover a wide range of topics and offer valuable information, research materials, tutorials, and more.

                .line-above-heading
                h2.heading-with-top-border E-Resource Links
                ul.star-ul
                    li
                        a(href="https://www.doabooks.org" target="_blank" rel="noopener noreferrer") Directory of Open Access Books (DOAB)
                    | Provides free access to academic books from various disciplines, facilitating access to valuable scholarly content.
                    p 
                    li
                        a(href="https://doaj.org" target="_blank" rel="noopener noreferrer") Directory of Open Access Journals (DOAJ)
                    | Offers free access to high-quality, peer-reviewed scholarly journals covering various subject areas.
                    p 
                    li
                        a(href="https://eric.ed.gov" target="_blank" rel="noopener noreferrer") Education Resources Information Centre (ERIC)
                    | A digital library with a vast collection of education-related resources, including journal articles, reports, and conference papers.
                    p 
                    li
                        a(href="https://ndl.iitkgp.ac.in" target="_blank" rel="noopener noreferrer") National Digital Library of India (NDL)
                    | A digital repository offering a diverse collection of educational resources, including textbooks, articles, and audio-visual materials.

                .line-above-heading
                h2.heading-with-top-border Additional Resources
                ul.star-ul
                    li
                        a(href=" https://scholar.google.co.in/" target="_blank" rel="noopener noreferrer") Google Scholar
                    | A search engine for academic research papers, theses, and articles, providing access to authoritative sources and the latest advancements in various fields.
                    p 
                    li
                        a(href="https://ocw.mit.edu/index.htm" target="_blank" rel="noopener noreferrer") MIT OpenCourseWare
                    | Offers free access to course materials from MIT, including lecture notes, assignments, exams, and video lectures on computer science and management subjects.
                    p 
                    li
                        a(href=" https://www.coursera.org/" target="_blank" rel="noopener noreferrer") Coursera
                    | An online learning platform with a wide range of courses, many of which are free, providing video lectures, quizzes, and assignments to enhance your learning experience.
                    p 
                    li
                        a(href="https://learn.microsoft.com/en-us/training/" target="_blank" rel="noopener noreferrer") Microsoft Learn
                    | Provides free resources and tutorials on Microsoft technologies, including programming languages, cloud computing, and data science.
                    p 
                    li
                        a(href="https://www.open.edu/openlearn/" target="_blank" rel="noopener noreferrer") Open Learn
                    | Offers free courses, articles, and resources on various subjects, including computer science and business management, allowing you to explore new topics or supplement your existing knowledge.
                    p 
                    li
                        a(href="https://www.khanacademy.org/" target="_blank" rel="noopener noreferrer") Khan Academy
                    | Provides free instructional videos, practice exercises, and tutorials on computer science, mathematics, economics, and more, making it ideal for self-study and concept reinforcement.
                    p 