extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading Labs
                p At IITM, we take pride in offering state-of-the-art computer labs ,one computer center and a hardware lab counts in total to 8 labs equipped with approximately 150 computers, with cutting-edge technology to cater to your diverse computing needs. Whether you are a student, a professional, or just someone who loves technology, our labs are designed to provide you with the best computing experience possible. Here's what you can expect from our labs:
                ul.star-ul
                    li.bold Extensive Infrastructure
                    p.padding-left-sm Our computer labs boast a total of 125 high-performance computer systems, ensuring that you always have access to the latest hardware and technology. These systems are regularly updated and maintained to provide seamless performance.
                    li.bold Multiple Labs for Specialized Needs
                    p.padding-left-sm To accommodate various requirements, we have established 5 dedicated labs, each tailored to different purposes. Whether you need a lab for coding and programming, graphic design, data analysis, or general use, we've got you covered.
                    li.bold Operating Systems
                    p.padding-left-sm Recognizing the diverse preferences of our users, our labs feature a harmonious combination of both Linux and Windows operating systems. Whether you are a Linux enthusiast, a Windows aficionado, or just want to explore both platforms, our labs have you covered.
                    li.bold Comprehensive Software Collection
                    p.padding-left-sm Our labs come pre-installed with a vast array of software to meet all your computing needs. From industry-standard software like Microsoft Office Suite to development tools like Visual Studio and MATLAB, you'll find everything you need at your fingertips.
                    li.bold High-Speed Connectivity
                    p.padding-left-sm Staying connected is vital in today's digital age, which is why our computer labs offer high-speed internet access. Whether you need to research online, collaborate with peers, or access cloud-based services, our labs provide reliable and fast connectivity.
                    li.bold Comfortable and Collaborative Environment
                    p.padding-left-sm We understand that a conducive environment enhances productivity. Our labs are designed to promote collaboration and comfort, allowing you to focus on your work without distractions.
                    li.bold Trained Support Staff
                    p.padding-left-sm Our dedicated support staff is available to assist you with any technical issues or questions you may have while using our computer labs. Feel free to approach them whenever you need help.

                .line-above-heading
                h1.heading-with-top-border Computer Center
                p IITM has a computer center which is typically equipped with computers connected to the internet .The center provides browsing facilities to all its students, faculty, and staff. Such facilities would have allowed the IITM community to access information, conduct research, communicate, and engage in various online activities.

                .line-above-heading
                h1.heading-with-top-border Hardware Lab 
                p In addition to our computer labs, we are excited to introduce our state-of-the-art Hardware Lab. Whether you're a tech enthusiast, a budding engineer, or simply curious about the inner workings of computers, our Hardware Lab is the perfect place to explore the world of hardware and its intricacies.
                ul.star-ul
                    li.bold Hands-On Learning
                    p.padding-left-sm Our Hardware Labs offer a unique opportunity for hands-on learning. Get up close and personal with computer components, peripherals, and devices as you delve into the fascinating world of hardware architecture and assembly.
                    li.bold Cutting-Edge Equipment
                    p.padding-left-sm Equipped with the latest tools and equipment, our Hardware Labs provide a comprehensive learning environment. From soldering stations to oscilloscopes, you'll have access to the tools used by industry professionals.
                    li.bold Skilled Instructors
                    p.padding-left-sm Our Hardware Lab is staffed with experienced instructor who is passionate about technology and eager to share their knowledge with you. Whether you're a beginner or have some prior experience, our instructor will guide you through various hardware-related projects and experiments.
                    li.bold Repair and Troubleshooting
                    p.padding-left-sm Learn essential skills in hardware repair and troubleshooting. Discover how to diagnose and fix common hardware issues, empowering you to become more self-reliant in managing your devices.
                    li.bold Collaboration and Networking
                    p.padding-left-sm Engage with like-minded individuals in our Hardware Lab community. Share ideas, collaborate on projects, and build valuable connections with peers who share your passion for technology.
                    li.bold Integration with Computer Labs
                    p.padding-left-sm Our Hardware Lab is designed to complement our computer labs seamlessly. Understanding how hardware and software work together is essential for a comprehensive understanding of computing systems.
                    li.bold Safety First
                    p.padding-left-sm Your safety is our priority. Our Hardware Lab adheres to strict safety protocols, ensuring that you can experiment and learn in a secure environment.

                    p At IITM, we believe in fostering a thriving community of tech enthusiasts and learners. Whether you're interested in software, hardware, or both, our labs are more than just spaces with computers; they are hubs for innovation, exploration, and learning.
                    p Visit us today and experience the world of possibilities that our computer labs and Hardware Lab have to offer!



