extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading institutional library
                p Our library is a hub of knowledge and resources, providing Students, Faculty and Staff members with access to a vast collection of Books, Journals, Magazines and other Academic materials. Our library is open to all registered students of the college and our mission is to support and enhance the academic experience of our students by providing them with the resources they need to succeed in their academic pursuits.
                p Our library has a wide range of books on various subjects including Computer science, Management, Literature, History, Economics, Mathematics, Science and Technology etc. also contains a large collection of Project reports of students.
                p We also have an extensive collection of reference materials and academic journals to help students with their research and assignments.
                p The IITM Library was established with the establishment of college on a separate room .The college library caters to the needs of UG, PG Students, staff and teaching faculty. Presently the library is placed in a separate floor with a total covered area of about 4245 square feet having a reading room capacity of about 100 students.
                p The Library is automated with KOHA Software. Books are issued through bar-coded membership cards to the Post Graduate/ Under Graduate students and Faculty/Staff members of the college. The catalogue of the IITM Institutional library is available on intranet for discovery of resources. CCTV cameras are installed to ensure safety of the library materials. The college library is also equipped with manually operated fire extinguishers. A register is maintained in the library and the Patrons/Users have to show his valid identity card at the entrance.
                p At present, it has a collection of above 6000 Books. Local and National newspapers are also available to the users for keeping them up-to-date. The entire collection of IITM Institutional Library is bar-coded.
                p New Arrivals are displayed in showcases at the entrance of the library. One computer is installed for searching books through Online Public Access Catalogue (OPAC) at the entrance. Traditional catalogue is available in IITM Institutional Library.