extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading management studies
                p The Department of Management Studies was established in the year 2011 with a three-year undergraduate course, Bachelor of Business Administration (BBA). The department has started the Master of Management Studies (MBA) course from the session 2012.

                p Management Studies department has been established in tune with the vision of the college that is to contribute to the society through excellence in technical education and to provide globally competitive work force. It has been established to impart quality professional & technical education to students, inculcating in them national & global perspective, leadership attitude, co-operative spirit, cultural outlook, ethical values, social responsibilities and healthy habits so as to contribute to the technological, economic & social development in the region. To create effective interface with the industry and community to impart quality education at par with the best in the country.

                p In order to fulfill the objectives of the department, management along with the faculty members are working zealously to familiarize management students with modern concepts of management, social skills & communication skills. The various activities help students enhance leadership skills, innovative thinking & creativity which will help the students to grow in the challenging and competitive environment at national and international level. Students are being always kept in touch with industrial experts by arranging various guest lectures, seminars & industrial visits so that students can get practical knowledge to fulfill the mission of the college.

                p The department is having a well-maintained fully furnished & equipped browsing center for the convenience of students. The Department has Memorandum of Understandings (MOUs) with various Organizations which supports internships and projects to develop managerial skills and to provide students practical knowledge.

                .line-above-heading
                h2.heading-with-top-border vision
                p.text-blockquote Our vision is to promote entrepreneurial culture and develop managerial skills through high-quality education, research, innovative courses, and value-based management-driven learning.

                .line-above-heading
                h2.heading-with-top-border mission
                ul.star-ul 
                    li Empower Students: To empower students with the knowledge, skills, and attitudes required for success in the field of business administration, enabling them to excel in their careers and become responsible global citizens.
                    li Quality Education: To provide high-quality education that meets national and international standards, delivered by experienced faculty who are experts in their respective fields, and supported by modern teaching pedagogy and infrastructure.
                    li Holistic Development: To foster the holistic development of students by focusing on their intellectual, emotional, social, and ethical growth, through a well-rounded curriculum that includes a blend of theoretical and practical learning, extracurricular activities, and personal development initiatives.
                    li Industry Orientation: To establish strong linkages with the industry and provide students with real-world exposure, industry insights, and practical experiences through internships, industry visits, guest lectures, and industry-academia collaborations, preparing them to be job-ready and industry-ready professionals.
                    li Entrepreneurial Mindset: To cultivate an entrepreneurial mindset among students by promoting innovation, creativity, and critical thinking, and by providing resources, mentoring, and support for aspiring student entrepreneurs to develop and launch their own startups.
                    li Global Perspective: To develop a global perspective among students by offering international exposure, cross-cultural learning opportunities, and global business insights, preparing them to work in diverse and multicultural business environments and compete in the global job market.
                    li Ethical Leadership: To inculcate a strong ethical foundation among students and foster a sense of social responsibility, integrity, and ethical leadership, promoting ethical business practices and contributing positively to society.
                    li Research and Innovation: To promote a culture of research and innovation among students and faculty, encouraging them to engage in research projects, publish scholarly work, and contribute to the advancement of knowledge in the field of business administration.
                    li Continuous Improvement: To foster a culture of continuous improvement in all aspects of the BBA program, including curriculum design, pedagogy, assessment methods, and feedback mechanisms, ensuring that the program remains relevant, up-to-date, and responsive to changing business needs and industry trends.
                    li Alumni Engagement: To maintain a strong and active alumni network, engaging alumni in various activities, fostering lifelong learning and networking opportunities, and leveraging their expertise and experiences to benefit current students and the department as a whole.



                //- Programs offered cards
                .line-above-heading
                h2.heading-with-top-border programmes offered
                //- Cards container
                .courses-cards.align-cards-center
                    //- Card
                    article.courses-card
                        //- Card image
                        div 
                            img(src="../data/imgs/bca-course-image.png" alt="alt")
                        //- Card content
                        .courses-card__content
                            span.courses-card__content--title bachelor of business administration
                            span.courses-card__content--subtitle Business degree with courses in management, marketing, finance, and accounting.
                            p.courses-card__content--description BBA program provides a comprehensive undergraduate education in business management, covering diverse disciplines such as marketing, finance, accounting, economics, and more. It prepares students for careers in the competitive business world with practical skills and knowledge.

                            //- Card button
                            a(href="/academics/management/bba")
                                button.btn-psu Explore

                    //- Card
                    article.courses-card
                        div 
                            img(src="../data/imgs/mca-course-image.jpg" alt="alt")
                        .courses-card__content
                            span.courses-card__content--title master of business administration
                            span.courses-card__content--subtitle Graduate program focused on advanced business management and leadership skills development.
                            p.courses-card__content--description Mater of business administration (MBA) program is a graduate degree that focuses on advanced business management and leadership skills development. It prepares students for strategic decision-making, financial analysis, marketing strategies, and leadership roles in diverse industries, equipping them with the skills for success in the business world.
                            a(href="/academics/management/mba")
                                button.btn-psu Explore
