extends ../layouts/base.pug

block styles
    style.
        .btn-marquee {
            background-color: #e74c3c;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            transition: background-color 0.3s ease;
        }

        .btn-marquee:hover {
            background-color: #c0392b;
        }
        
block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                //- Course introduction
                h1.page-heading master of business administration
                p The MBA program at Iqbal Institute of Technology and Management is a comprehensive two-year program that covers various aspects of business management, including finance, marketing, human resources, operations, strategy, and entrepreneurship. Students have the option to specialize in areas such as Marketing, Finance, Human Resources, Operations, or Business Analytics, allowing them to gain expertise in their chosen field and enhance their career prospects.
                p The curriculum of the MBA program is regularly updated to reflect the latest developments in the business world, and the program emphasizes practical and experiential learning through case studies, group discussions, simulations, and industry interactions. The faculty at Iqbal Institute of Technology and Management comprises experienced professors and industry practitioners who provide students with mentorship, guidance, and industry insights to develop a deep understanding of business concepts and practices.
                p The institute boasts modern infrastructure, including well-equipped classrooms, computer labs, and a library, providing students with a conducive learning environment to enhance their educational experience. The MBA program prepares students for leadership roles in diverse industries such as banking, consulting, manufacturing, retail, and IT, with ample opportunities for internships, live projects, and placements through the institute's strong network of corporate partnerships.
                p In summary, the MBA program offered by Iqbal Institute of Technology and Management is a comprehensive and industry-oriented program that provides students with the knowledge, skills, and networks to excel in the field of business management and pursue rewarding careers in the corporate world.

                a.btn-marquee(href="/admissions/new-admission") Apply Now

                //- Cards container
                .course-specs-cards-container.align-cards-center
                    //- Card
                    .course-specs-card
                        //- Header of the card
                        .header
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                                path(d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z")
                            h1.title Duration
                        //- Content of the card
                        .content
                            p 2 Years
                            p.small
                                | The MBA program at Iqbal Institute of Technology and Management spans over 
                                span.bold 2 years
                                | , divided into 
                                span.bold 4 semesters.

                    //- Card
                    .course-specs-card
                        .header
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                                path(d='M0 0h24v24H0z' fill='none')
                                path(d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z")
                            h1.title Eligibility
                        .content
                            p Graduation in Any Stream
                            p.small Candidates applying for the MBA program at Iqbal Institute of Technology and Management must hold a bachelor's degree from a recognized university or institution.

                    //- Card
                    .course-specs-card
                        .header
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512")
                                path(d='M0 0h24v24H0z' fill='none')
                                path(d="M160 64c0-35.3 28.7-64 64-64H576c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H336.8c-11.8-25.5-29.9-47.5-52.4-64H384V320c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v32h64V64L224 64v49.1C205.2 102.2 183.3 96 160 96V64zm0 64a96 96 0 1 1 0 192 96 96 0 1 1 0-192zM133.3 352h53.3C260.3 352 320 411.7 320 485.3c0 14.7-11.9 26.7-26.7 26.7H26.7C11.9 512 0 500.1 0 485.3C0 411.7 59.7 352 133.3 352z")
                            h1.title Program Mode
                        .content
                            p Regular
                            p.small We at IITM offers MBA program in a regular mode with full-time classes.

                    //- Card
                    .course-specs-card
                        .header
                            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                                path(d='M0 0h24v24H0z' fill='none')
                                path(d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z")
                            h1.title Fee Structure
                        .content
                            p ₹65,000
                            p.small this is the fee for one year (two semesters), which may be subject to minor additional charges.




                //- Program Outcomes
                .line-above-heading
                h2.heading-with-top-border programme outcomes
                ol.beautiful-list(style='--length: 12' role='list')
                    li(style='--i: 1')
                        h3 Leadership Development
                        p The program focuses on enhancing students' leadership skills and abilities through various activities, such as case studies, simulations, and team projects. Students learn effective leadership styles, strategies, and techniques to manage teams and organizations successfully.
                    li(style='--i: 2')
                        h3 Strategic Thinking
                        p Students develop critical skills in strategic thinking, which involves analyzing complex business situations, evaluating risks and opportunities, and making informed decisions to achieve organizational goals. This is accomplished through case studies, business simulations, and strategic planning exercises.
                    li(style='--i: 3')
                        h3 Business Acumen
                        p The MBA program equips students with a comprehensive understanding of various business concepts, practices, and functional areas, such as finance, marketing, operations, human resources, and strategy. Students gain a holistic perspective on business management, allowing them to make well-informed decisions in real-world business scenarios.
                    li(style='--i: 4')
                        h3 Problem Solving
                        p The program emphasizes the development of analytical and critical thinking skills to identify and solve business problems effectively. Students learn problem-solving frameworks, data analysis techniques, and decision-making tools to address complex business challenges.
                    li(style='--i: 5')
                        h3 Communication Skills
                        p Effective communication is a crucial skill for business professionals. The program focuses on enhancing students' written and verbal communication skills through activities such as presentations, report writing, and group discussions. Students also learn effective communication strategies for different business contexts and audiences.
                    li(style='--i: 6')
                        h3 Global Business Perspective
                        p In today's interconnected world, understanding the global business environment is essential. The program provides students with insights into international business practices, cultural diversity, global market trends, and geopolitical factors that impact organizations' operations and strategies.
                    li(style='--i: 7')
                        h3 Ethical Decision Making
                        p Ethics and social responsibility are integral aspects of modern business management. The program emphasizes ethical decision-making, encouraging students to consider the ethical implications of their actions and decisions in business contexts. Students learn ethical frameworks, values, and principles that guide responsible business practices.
                    li(style='--i: 8')
                        h3 Innovation and Entrepreneurship
                        p The program nurtures students' creativity, innovation, and entrepreneurial mindset. Students learn to identify and capitalize on business opportunities, develop innovative solutions, and create value in competitive markets. The program also covers topics such as business model innovation, technology entrepreneurship, and new venture creation.
                    li(style='--i: 9')
                        h3 Financial Analysis
                        p Financial management is a critical aspect of business decision-making. The program equips students with financial analysis skills, including financial statement analysis, budgeting, forecasting, and financial risk assessment. Students learn to use financial data to evaluate business performance, assess investment opportunities, and support strategic decision-making.
                    li(style='--i: 10')
                        h3 Marketing Management
                        p The program provides students with a solid foundation in marketing management, including understanding customer behavior, formulating marketing strategies, and implementing marketing plans. Students learn to develop marketing campaigns, analyze market trends, and apply marketing concepts to real-world business situations.
                    li(style='--i: 11')
                        h3 Human Resource Management
                        p Managing human resources is crucial for organizational success. The program covers topics such as talent acquisition, performance management, compensation and benefits, employee relations, and leadership development. Students learn the principles and practices of human resource management to effectively manage personnel in organizations.
                    li(style='--i: 12')
                        h3 Professional Development
                        p The program emphasizes the development of professional attitudes, work ethics, and networking skills. Students learn how to navigate the professional world, develop a personal brand, and build professional networks. The program also provides opportunities for career development, including workshops, seminars, internships, and placement assistance.


                //- //- Course structure
                //- .line-above-heading
                //- h2.heading-with-top-border course structure
                //- .courses-table
                    //- .header BCA
                    table(cellspacing='0')
                        //- Table headers
                        tr
                            th.border-bottom-solid(rowspan=2) Semester
                            th.border-bottom-solid(rowspan=2) Subject Code
                            th.border-bottom-solid(rowspan=2) Name of the subject
                            th.border-bottom-solid(colspan=4) Credits
                        tr
                            th.border-bottom-solid L
                            th.border-bottom-solid T 
                            th.border-bottom-solid P 
                            th.border-bottom-solid Total

                        //- Semester 1
                        tr
                            td.border-right.border-bottom-solid(rowspan=4) I
                            td BCA120C1
                            td Programming in C/C++
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA120C2
                            td Discrete Structures
                            td 4
                            td 2
                            td 0
                            td 6
                        tr
                            td AECC-II
                            td Environmental Studies
                            td 4
                            td 0
                            td 0
                            td 6
                        tr
                            td.border-bottom-solid GE-I
                            td.border-bottom-solid.text-align-left
                                | General Elective 1 (GE1) Any One:
                                ol 
                                    li Mathematics 
                                    li Statistics 
                                    li Physics 
                                    li Electronics 
                                    li Botany 
                                    li Chemistry
                                    li Zoology
                                    li Economics 
                                    li Education 
                                    li Psychology 
                                    li Sociology 
                                    li Commerce: Business Law 
                                    li Business Management: Principles of Management
                            td.border-bottom-solid 4
                            td.border-bottom-solid 2/0
                            td.border-bottom-solid 0/2
                            td.border-bottom-solid 6

                        //- Semester 2
                        tr
                            td.border-right.border-bottom-solid(rowspan=4) II
                            td BCA220C1
                            td Programming in Java
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA220C2
                            td Computer System Architecture
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td AECCs
                            td English Communication Skills
                            td 4
                            td 0
                            td 0
                            td 6
                        tr
                            td.border-bottom-solid GE-II
                            td.border-bottom-solid.text-align-left
                                | General Elective 2 (GE2) Any One:
                                ol 
                                    li Mathematics 
                                    li Statistics 
                                    li Physics 
                                    li Electronics 
                                    li Botany 
                                    li Chemistry
                                    li Zoology
                                    li Economics 
                                    li Education 
                                    li Psychology 
                                    li Sociology 
                                    li Commerce: Business Law 
                                    li Business Management: Principles of Management
                            td.border-bottom-solid 4
                            td.border-bottom-solid 2/0
                            td.border-bottom-solid 0/2
                            td.border-bottom-solid 6

                        //- Semester 3
                        tr
                            td.border-right.border-bottom-solid(rowspan=5) III
                            td BCA320C1
                            td Data Structures
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA320C2
                            td Operating Systems
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA320C3
                            td Computer Networks
                            td 4
                            td 0
                            td 0
                            td 6
                        tr
                            td SEC320S
                            td Skill Enhancement Course (FROM 3RD SEMESTER BASKET)
                            td 4
                            td 0
                            td 0
                            td 6
                        tr
                            td.border-bottom-solid GE-III
                            td.border-bottom-solid.text-align-left
                                | General Elective 3 (GE3) Any One:
                                ol 
                                    li Mathematics 
                                    li Statistics 
                                    li Physics 
                                    li Electronics 
                                    li Botany 
                                    li Chemistry
                                    li Zoology
                                    li Economics 
                                    li Education 
                                    li Psychology 
                                    li Sociology 
                                    li Commerce: Business Law 
                                    li Business Management: Principles of Management
                            td.border-bottom-solid 4
                            td.border-bottom-solid 2/0
                            td.border-bottom-solid 0/2
                            td.border-bottom-solid 6

                        //- Semester 4
                        tr
                            td.border-right.border-bottom-solid.bg-colored(rowspan=5) IV
                            td BCA420C1
                            td Design and Analysis of Algorithms
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA420C2
                            td Software Engineering
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA420C3
                            td Database Management System
                            td 4
                            td 0
                            td 0
                            td 6
                        tr
                            td DM420S
                            td Disaster Management
                            td 2
                            td 2
                            td 0
                            td 4
                        tr
                            td.border-bottom-solid GE-IV
                            td.border-bottom-solid.text-align-left 
                                | General Elective 4 (GE4) Any One:
                                ol 
                                    li Mathematics 
                                    li Statistics 
                                    li Physics 
                                    li Electronics 
                                    li Botany 
                                    li Chemistry
                                    li Zoology
                                    li Economics 
                                    li Education 
                                    li Psychology 
                                    li Sociology 
                                    li Commerce: Business Law 
                                    li Business Management: Principles of Management
                            td.border-bottom-solid 4
                            td.border-bottom-solid 2/0
                            td.border-bottom-solid 0/2
                            td.border-bottom-solid 6

                        //- Semester 5
                        tr
                            td.border-right.border-bottom-solid(rowspan=4) V
                            td BCA520C1
                            td Internet Technologies
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA520C2
                            td Theory of Computation
                            td 4
                            td 2
                            td 0
                            td 6
                        tr
                            td 
                                | BCA520D1A
                                br
                                | OR
                                br
                                | BCA520D1B
                            td
                                | Numeraical Methods
                                br
                                | OR
                                br
                                | Information Security
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td.border-bottom-solid 
                                | BCA520D2A
                                br
                                | OR
                                br
                                | BCA520D2B
                            td.border-bottom-solid
                                | Data Mining
                                br
                                | OR
                                br
                                | Machine Learning
                            td.border-bottom-solid 4
                            td.border-bottom-solid 0
                            td.border-bottom-solid 2
                            td.border-bottom-solid 6

                        //- Semester 6
                        tr
                            td.border-right.border-bottom-solid(rowspan=4) VI
                            td BCA620C1
                            td Artificial Intelligence
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td BCA620C2
                            td Computer Graphics
                            td 4
                            td 2
                            td 0
                            td 6
                        tr
                            td 
                                | BCA620D1A
                                br
                                | OR
                                br
                                | BCA620D1B
                            td
                                | Cloud Computing
                                br
                                | OR
                                br
                                | Python Programming
                            td 4
                            td 0
                            td 2
                            td 6
                        tr
                            td.border-bottom-solid BCA620D2
                            td.border-bottom-solid Dissertation/Project Work 
                            td.border-bottom-solid 0
                            td.border-bottom-solid 4
                            td.border-bottom-solid 2
                            td.border-bottom-solid 6

                        //- Total
                        tr
                            td.border-right(colspan=3) Total
                            td 
                            td 
                            td 
                            td 148