extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading syllabus
                p At our college, we are proud to be affiliated with the prestigious University of Kashmir. As a result, our syllabi are based on the guidelines provided by the university. We believe in providing our students with the highest quality education, and the university's syllabus ensures that we maintain a rigorous academic standard.
                p To access the syllabus for any semester or program, you can visit the official website of the University of Kashmir. They have a dedicated section where they regularly update and publish the latest syllabi for various programs and semesters. By following the link below, you will be directed to the university's syllabus page:

                ul.star-ul
                    li
                        a(href="https://egov.uok.edu.in/eservices/syllabus/prelogin/course.aspx?coursetype=UGP" target="_blank" rel="noopener noreferrer") University of Kashmir Syllabus Page

                p 
                p On the university's syllabus page, you will find comprehensive information about the syllabi for different programs and semesters. It includes details such as course names, course codes, credit hours, and learning objectives. The syllabi provide a roadmap for your academic journey, guiding you through the required courses and helping you understand the knowledge and skills you will acquire during your time at our college.
                p Please note that the syllabi are subject to updates and revisions by the university. Therefore, it is essential to regularly check the university's syllabus page for any changes or additions to the curriculum.
                p We encourage you to explore the university's syllabus page and familiarize yourself with the syllabi relevant to your program and semester. It will serve as an invaluable resource throughout your academic career at our college.
                p If you have any further questions or need assistance regarding the syllabus, feel free to reach out to our college administration or refer to the university's website for additional support.
                p We wish you a successful and fulfilling learning experience!