extends ../layouts/base.pug

block content
    include ../layouts/banner.pug
    main.alumni-page.page-layout
        .main 
            h1.page-heading Alumni
            p We take great pride in our alumni, who have made significant contributions to society and excelled in their respective fields. 
            p Established in 2005, IITM has completed 17 years of dedicated service to society. Throughout these years, our institution has nurtured countless talented individuals who have gone on to achieve remarkable success as academicians, top-ranking administrators, and successful entrepreneurs. Our alumni have made a positive impact on society and have brought laurels to their alma mater through their accomplishments.

            .line-above-heading 
            h2.heading-with-top-border As an esteemed member of the IITM family, we invite you to join our growing alumni community and stay connected with your alma mater.
            p By joining the database, you will have access to a range of benefits and opportunities, including:
            ol.beautiful-list.margin-top-sm(style='--length: 5' role='list')
                li(style='--i: 1')
                    h3 Networking
                    p Connect with fellow alumni, industry experts, and professionals from various fields. Build a strong professional network that can open doors to new opportunities, collaborations, and mentorship. 
                li(style='--i: 2')
                    h3 Alumni Events
                    p Stay updated on upcoming alumni events, reunions, workshops, and seminars. Participate in engaging activities and reconnect with your batchmates and former faculty members.
                li(style='--i: 3')
                    h3 Career Support
                    p Access career resources, job postings, and internship opportunities exclusively available to our alumni. Benefit from career guidance, mentoring, and workshops designed to enhance your professional growth.
                li(style='--i: 4')
                    h3 Contributions to Society
                    p Collaborate with the IITM Alumni to contribute to the upliftment of society. Participate in community service initiatives, volunteering programs, and social impact projects that align with our shared values.
                li(style='--i: 5')
                    h3 Continuous Learning
                    p Engage in lifelong learning by participating in webinars, guest lectures, and industry-specific workshops organized by the association. Stay updated on the latest advancements in your field and broaden your knowledge base.
            p.margin-top-sm To create a digital database of our alumni, we encourage all ex-students of IITM Srinagar to register their names in the IITM Alumni Association. By doing so, you will stay connected with your alma mater, receive regular updates, and be a part of a vibrant and supportive community. 

            .line-above-heading 
            h2.heading-with-top-border Here you go! 
            .google-form
                iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSc1WcX11FGIbWBtZ8N2On7IFivUR9KZ8tASdO0y9ZHE9uQSpA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0") Loading…