extends layouts/base.pug

block content
    .error 
        img(src="/data/svgs/404.svg", alt="")
        a(href="/").cont.bg-white.font-nl
            button.btn-psu.center.font-nl(style="transition: all .25s ease-in-out; width: 15rem !important;") Go Back Home