extends ../layouts/base.pug

block styles 
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading MOU's
                p At Iqbal Institute of Technology and Management, we believe in the power of collaboration and partnerships to drive innovation, research, and academic excellence. Our strategic Memorandums of Understanding (MOUs) with esteemed organizations, institutions, and industry leaders enable us to create unique opportunities for our students, faculty, and researchers. Through these collaborations, we foster knowledge exchange, research collaborations, and industry-academia partnerships. Together, we address complex challenges, explore emerging technologies, and make significant contributions to the advancement of society.

                //- h1.primary_heading.margin-top-md Recent Placement Drive Highlights
                //- span.heading-sm-secondary Discover the Success Stories of Our Recent Job Placements and Join the Ranks of Thriving Professionals
                section.section-carousal.margin-bottom-sm
                    #carouselExample.carousel.slide(data-bs-ride="carousel")
                        .carousel-inner
                            .carousel-item.active( data-bs-interval="3000")
                                img.d-block.w-100(src="/data/imgs/mou-img1.jpeg" alt='Image' title="Carousel Paused")
                                .carousel-caption.d-none.d-md-block 
                                    span.clear-text #{new Date().toLocaleString("en-US", {day:"numeric", month:"short", year:"numeric"})}
                                    h4.clear-text.uppercase.font-lg Headline
                                    p.clear-text.align-center This is description paragraph
                            .carousel-item( data-bs-interval="3000")
                                img.d-block.w-100(src="/data/imgs/mou-img2.jpeg" alt='Image' title="Carousel Paused")
                                .carousel-caption.d-none.d-md-block 
                                    span.clear-text #{new Date().toLocaleString("en-US", {day:"numeric", month:"short", year:"numeric"})}
                                    h4.clear-text.uppercase.font-lg Headline
                                    p.clear-text.align-center This is description paragraph
                            .carousel-item( data-bs-interval="3000")
                                img.d-block.w-100(src="/data/imgs/mou-img3.jpeg" alt='Image' title="Carousel Paused")
                                .carousel-caption.d-none.d-md-block 
                                    span.clear-text #{new Date().toLocaleString("en-US", {day:"numeric", month:"short", year:"numeric"})}
                                    h4.clear-text.uppercase.font-lg Headline
                                    p.clear-text.align-center This is description paragraph
                            .carousel-item( data-bs-interval="3000")
                                img.d-block.w-100(src="/data/imgs/mou-img4.jpeg" alt='Image' title="Carousel Paused")
                                .carousel-caption.d-none.d-md-block 
                                    span.clear-text #{new Date().toLocaleString("en-US", {day:"numeric", month:"short", year:"numeric"})}
                                    h4.clear-text.uppercase.font-lg Headline
                                    p.clear-text.align-center This is description paragraph
                            button.carousel-control-prev(type='button' data-bs-target='#carouselExample' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(type='button' data-bs-target='#carouselExample' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next

                .line-above-heading 
                h3.heading-with-top-border Our Recruitment Partners
                p Our Recruitment Partners play a crucial role in connecting our students with employment opportunities and facilitating their career growth. Through these partnerships, we aim to enhance the employability of our students and provide them with access to a wide range of job prospects. Our Recruitment Partners actively participate in campus recruitment drives, internship programs, and career counseling sessions. They offer valuable insights into industry trends, provide mentorship, and contribute to our students' professional development.
                h4.left-aligned-heading.font-md.margin-bottom-xs.padding-left-none List of our recruitment partners
                ol.beautiful-ol-num.margin-left-xs
                    li IQuasar
                    li Contragenix
                    li Sublime
                    li Rational Tabs
                    li Lelafe


                .line-above-heading 
                h3.heading-with-top-border Our Training Partners
                p Our Training Partners collaborate with us to enhance the skills and knowledge of our students and faculty. These partnerships focus on providing specialized training programs, workshops, and certifications in emerging technologies, industry practices, and soft skills development. By partnering with leading training institutions and organizations, we ensure that our students receive the most relevant and up-to-date training that aligns with industry requirements. The training programs offered by our partners help bridge the gap between academia and industry, equipping our students with the necessary skills to excel in their chosen fields.
                h4.left-aligned-heading.font-md.margin-bottom-xs.padding-left-none List of our training partners
                ol.beautiful-ol-num.margin-left-xs
                    li BSE
                    li Marvel Minds
                    li Lelafe 
                    li ISDS

                .line-above-heading 
                h3.heading-with-top-border Purpose of Collaborations
                p Our Memorandums of Understanding (MOUs) with esteemed partners serve various purposes, including:
                h4.left-aligned-heading.font-md.margin-bottom-none.padding-left-none Knowledge Exchange and Research Collaborations
                p We collaborate with renowned organizations and institutions to foster knowledge exchange and research collaborations. These partnerships facilitate the sharing of expertise, resources, and best practices, leading to joint research projects, publications, and innovations in diverse fields.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs.padding-left-none Industry-Academia Partnerships
                p We actively engage in partnerships with industry leaders to bridge the gap between academia and the professional world. These collaborations aim to enhance the practical learning experience of our students, promote industry-relevant curriculum development, and provide internship and placement opportunities.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs.padding-left-none International Collaborations
                p We establish international collaborations to promote global perspectives and cross-cultural learning. These partnerships enable us to facilitate faculty and student exchange programs, joint research initiatives, and collaborative projects with universities and institutions from around the world.

                .logo-slider.margin-bottom-xs.margin-top-md
                    div 
                        img(src='/data/imgs/company-bse.png' alt='BSE')
                    div 
                        img(src='/data/imgs/company-iquasar.png' alt='IQuasar')
                    div 
                        img(src='/data/imgs/company-lelafe.png' alt='Lelafe')
                    div 
                        img(src='/data/imgs/company-marvel-minds.png' alt='Marvel Minds')
                    div 
                        img(src='/data/imgs/company-contragenix.png' alt='Contragenix')
                    div 
                        img(src='/data/imgs/company-rational-tabs.png' alt='Rational Tabs')

    script.
        document.addEventListener('DOMContentLoaded', function() {
            $('.logo-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                speed: 500,
                autoplay: true,
                autoplaySpeed: 2000,
                infinite: true,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 640,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            speed: 500,
                            autoplay: true,
                            autoplaySpeed: 2000,
                            infinite: true,
                            arrows: false,
                        }
                    },
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        })
        //- // Get the scroll wrapper element
        //- const scrollWrapper = document.querySelector('.scroll-wrapper');

        //- // Get the scroll content element
        //- const scrollContent = document.querySelector('.scroll-content');

        //- // Clone the images and append them to the scroll content
        //- const images = document.querySelectorAll('.scroll-content img');
        //- const numImages = images.length;
        //- const numVisibleImages = 3;

        //- // Calculate the scroll distance based on the number of visible images
        //- const imageWidth = images[0].offsetWidth;
        //- const scrollDistance = imageWidth * numVisibleImages;
        //- const delay = 5000; // Delay in milliseconds (2 seconds)

        //- function scroll() {

        //-     images.forEach((image) => {
        //-         scrollContent.appendChild(image.cloneNode(true));
        //-     });

        //-     // Animate the scroll to the next set of images
        //-     scrollWrapper.scrollBy({
        //-         left: scrollDistance,
        //-         behavior: 'smooth'
        //-     });

        //- // Wait for the scroll animation to complete
        //- setTimeout(() => {
        //-     // Check if the last set of images is partially visible
        //-     const lastVisibleImageIndex = Math.floor(scrollWrapper.scrollLeft / imageWidth) + numVisibleImages - 1;
        //-     const lastIndexInSet = numImages - 1;

        //-     if (lastVisibleImageIndex >= lastIndexInSet) {
        //-     // Calculate the number of extra images beyond the visible range
        //-     const numExtraImages = (numVisibleImages - (numImages % numVisibleImages)) % numVisibleImages;

        //-     // Move the scroll back to the start of the images
        //-     scrollWrapper.scrollTo({
        //-         left: 0,
        //-         behavior: 'auto'
        //-     });

        //-     // Append the required number of extra images to the end
        //-     for (let i = 0; i < numExtraImages; i++) {
        //-         const imageIndex = (numImages + i) % numImages;
        //-         scrollContent.appendChild(images[imageIndex].cloneNode(true));
        //-     }

        //-     // Remove any extra images beyond the visible range
        //-     const extraImages = scrollContent.querySelectorAll('img:nth-child(n+' + (numImages + 1) + ')');
        //-     extraImages.forEach((image) => {
        //-         scrollContent.removeChild(image);
        //-     });
        //-     }
        //- }, 500); // Adjust this delay to match your smooth scrolling transition duration

        //- // Wait for the delay before scrolling again
        //- setTimeout(scroll, delay);
        //- }

        //- // Start the initial scrolling after the delay
        //- setTimeout(scroll, delay);


block scripts 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous")
