extends ../layouts/base.pug

block styles 

block content
    include ../layouts/banner.pug
    
    div.margin-top-lg.margin-bottom-lg
            .square-cards
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute1")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 1
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute2")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 2
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute3")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 3
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute4")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 4
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute5")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 5
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute6")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 6
                .square-cards__item 
                    a(href="/aqar-2023-24/attribute7")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Criteria 7
                .square-cards__item 
                    a(href="/aqar-2023-24/minutes_of_meetings")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Minutes of Meetings
                .square-cards__item 
                    a(href="/aqar-2023-24/annual_gender_sensitization_plan")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Annul Gender Sensitization Plan 
                .square-cards__item 
                    a(href="/aqar-2023-24/calendar_of_activities")
                        img(src="/data/imgs/criteria.png")
                        div
                            h2 Calendar of Activities
