extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                .line-above-heading 
                h2.heading-with-top-border Explore the following documents

                a(href="attribute7/7_1_1" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.1
                a(href="attribute7/7_1_2" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.2
                a(href="attribute7/7_1_3" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.3
                a(href="attribute7/7_1_4" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.4
                a(href="attribute7/7_1_5" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.5
                a(href="attribute7/7_1_6" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.6
                a(href="attribute7/7_1_7" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.7
                a(href="attribute7/7_1_8" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.8
                a(href="attribute7/7_1_9" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.9
                a(href="attribute7/7_1_10" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.10
                a(href="attribute7/7_1_11" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") 7.1.11
                a(href="attribute7/institutional-distinctiveness" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Institutional Distinctiveness
                a(href="attribute7/best-practices" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Best Practices