extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                .line-above-heading 
                h2.heading-with-top-border Explore the following documents

                a(href="attribute4/doc1" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Document 1
                a(href="attribute4/doc2" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Document 2
                a(href="attribute4/room3" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 3
                a(href="attribute4/room4" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 4
                a(href="attribute4/room5" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 5
                a(href="attribute4/room9" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 9
                a(href="attribute4/room10" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 10
                a(href="attribute4/room13" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;") 
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 13
                a(href="attribute4/room14" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;")
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 14
                a(href="attribute4/room15" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;")
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 15
                a(href="attribute4/room35" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;")
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 35
                a(href="attribute4/room36" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;")
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 36
                a(href="attribute4/room37" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;")
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 37
                a(href="attribute4/room46" style="display: block; width: 100%; text-align: center; margin: 20px 0 20px 0;")
                    button.tabs__tab#tab__bootcamps(style="width:100%") Room 46