extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading About IQAC
                p In compliance with the policy decision in the XIIth Plan of University Grants Commission, which directed all Higher Educational Institutions to have an Internal Quality Assurance Cell, Iqbal Institute of Technology and Management took its first step forward in the year 2018 by constituting its Internal Quality Assurance Cell. This was also done in pursuance of National Action Plan of National Assessment and Accreditation Council (NAAC) as a means of quality enhancement and sustenance programme. Functioning under the Chairmanship of Honourable Principal IITM our IQAC constantly strives for quality assurance by evolving strategies and removing deficiencies for holistic academic and administrative excellence. IQAC has made a significant and meaningful contribution by effective formulation and implementation of quality manoeuvre through periodic reviews and meetings. Through an appropriate structure and innovative procedures the IQAC has created a system which possesses enough flexibility to meet the diverse needs of our stakeholders and to channelize the efforts of the institute towards academic excellence.

                .line-above-heading
                h2.heading-with-top-border Vision
                p.text-blockquote To evolve, enhance and retain quality culture by nurturing students to become intellectually sound and ethically correct by setting realistic quality benchmarks and leading the institute towards academic excellence

                .line-above-heading
                h2.heading-with-top-border Mission
                ul.star-ul
                    li Planning, guiding and mentoring quality assurance and quality enhancement activities of the college.
                    li Maintaining quality standards in teaching, learning and evaluation.
                    li Ensure improvement in academic and administrative processes by maintaining efficiency and effectiveness of high standards at all levels.
                    li Development of an ideal learning environment which includes fostering a value based system.
                    li Arrange for periodic assessments and accreditation of the college.

                .line-above-heading
                h2.heading-with-top-border Role
                ul.star-ul
                    li Documentation of all important activities leading towards quality improvement.
                    li Building association with all stakeholders.
                    li Promoting research culture among students and staff.
                    li Organizing workshops, seminars, debates, webinars and faculty development programmes.
                    li Dissemination of information on various quality parameters.
                    li Development of quality benchmarks and using these to identify gaps in the institutional processes for improving performance.
                    li Developing transparency in processes pertaining to academic, administrative and financial processes concerning the institute.
                    li Monitoring and motivating initiatives towards different sections of the society.
                    li Facilitating all student support activities.
                    li Preparation of the Annual Quality Assurance Report (AQAR) as per guidelines and parameters of NAAC, to be submitted to NAAC.