extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                if submitted
                    .success-note.margin-top-xs
                        svg(fill="green" xmlns='http://www.w3.org/2000/svg' height="1.5rem" viewBox='0 0 512 512')
                            path(d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z')
                        | Thank you for contacting us! Your message has been received. We will be in touch shortly.

                if error
                    .error-note.margin-top-xs
                        svg(xmlns='http://www.w3.org/2000/svg' height="1.5rem" viewBox='0 0 512 512')
                            path(d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z')
                        | Oops! Something unexpected happend. Try again.

                if !submitted
                    form.form-1.margin-top-xs(action="/post-contact-us" method="post") 
                        h3 Connect with us
                        input.form-input(type="text" name="name" placeholder="Name" autocomplete="off" required)
                        input.form-input(type="tel" name="phone" placeholder="Phone" autocomplete="off" required)
                        input.form-input(type="email" name="email" placeholder="Email" autocomplete="off" required)
                        textarea.form-input(name="message" cols="30" rows="10" placeholder="Reason of Contact" required)
                        button(type="submit") Get in Touch