extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                //- h1.page-heading IITM Founder
                h1.page-heading Introducing Dr. Yousuful Omer - the Visionary Founder of IITM
                img(src="/data/collegeImgs/chairman.jpg", alt="").inpage-img.margin-bottom-xs
                p At IITM, we owe our remarkable journey and success to the visionary leadership of Yousuful Omer, the brilliant mind behind the establishment of our prestigious institution. As the founder of IITM, Mr. Omer's unwavering commitment to excellence and his profound vision have shaped the very core of our educational and managerial philosophy.
                p With an unyielding passion for education and a deep understanding of the transformative power of technology and management, Yousuful Omer set out to create a world-class institute that would produce exceptional professionals capable of driving innovation, leading businesses, and making a positive impact on society.
                p Guided by his foresight, IITM has flourished into a hub of intellectual curiosity, academic brilliance, and practical relevance. Under his guidance, we have embraced a multidisciplinary approach to learning, empowering our students to think critically, adapt to emerging challenges, and thrive in a rapidly evolving global landscape.
                p Yousuful Omer's unwavering belief in the potential of individuals to shape their own destinies has been the driving force behind our commitment to fostering holistic development. Beyond technical and managerial expertise, we instill values of integrity, empathy, and social responsibility, preparing our graduates to become ethical leaders who can navigate complexities and create a positive impact in their chosen fields.
                p With a keen eye for industry trends and a deep understanding of the skills required for professional success, Yousuful Omer ensured that IITM maintains strong ties with the corporate world. Through industry collaborations, internships, and practical training, our students gain real-world exposure, bridging the gap between academia and industry and equipping them with the skills and insights needed to excel in their careers.
                p As we honor Yousuful Omer, we recognize his lasting legacy and the enduring impact of his visionary leadership. His unwavering dedication to excellence, innovation, and societal progress continues to inspire our entire IITM community as we strive to push boundaries, nurture talent, and create future leaders who will shape the technological and managerial landscape.
                p We are proud to celebrate Yousuful Omer as the esteemed founder of IITM, a true visionary whose ideals continue to guide us on our path of educational excellence, innovation, and societal impact.