extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading Iqbal Memorial Trust
                p Iqbal Memorial Trust was established in the year 1980 as a direct response to root out the prevalent ignorance, illiteracy, moral turpitude, pitiful poverty and morass into which our society has fallen. Iqbal memorial Trust, Srinagar is registered with the Home Ministry, Government of India under FCRA and also registered under Society Act.

                .line-above-heading 
                h2.heading-with-top-border Mission of IMT
                p.text-blockquote To strive for creating awareness among all section of our people for achieving excellence and building a society where high intellectual pursuits and moral values blend together in an appropriate manner.

                .line-above-heading 
                h2.heading-with-top-border Objectives
                p To establish and run educational Institutes of high standard where moral education forms on an important component of the a syllabus along with other subjects. To work and evolve a comprehensive system for social service in the society to help poor and under privileged. To establish and run such commercial centers that shall alleviate the poverty and help develop the economy of the society. To arrange for dissemination of knowledge and information using modern technology of print and electronic media.

                .info-note.margin-top-sm
                    | IMT is engaged in social service under the name of 
                    a(href='/admissions/scholarships/sakhawat-centre' target="_blank").link-inside-p Sakhawat Center
