extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading institutional committees
                p At Iqbal Institute of Technology and Management, we believe in fostering a collaborative and inclusive environment that promotes effective governance and decision-making. Our institutional committees play a vital role in shaping the policies, strategies, and overall functioning of the institution. Comprising dedicated faculty members, administrators, and student representatives, these committees are responsible for various aspects of academic, administrative, and student affairs. With a shared commitment to excellence and continuous improvement, our committees work together to ensure transparency, accountability, and the overall well-being of our college community. Explore our institutional committees to gain insights into their responsibilities, achievements, and contributions towards the holistic development of our institution.

                .line-above-heading 
                h3.heading-with-top-border Explore

                //- Examination Committee
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (I) Examination Committee
                    ul.star-ul
                        li To help and ensure smooth and orderly conduct of examinations in the institute as per guidelines issued by the University of Kashmir / AICTE from time to time or any other third party exams held at IITM, like NEET, NIELET exam etc.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Sabina Tariq
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Adil Mehraj

                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  HOD's of CS & Management Department

                    //- a(href="").center
                    //-     button.btn-psu.font-sm.margin-top-sm Explore

                //- Disciplinary & Anti Ragging Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (II) Disciplinary & Anti Ragging Committee 
                    ul.star-ul
                        li To assist the college authorities in promoting and maintaining discipline in the institute and prevent anti ragging menace in any form.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Adil Mehraj
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Ms. Asma Gulzar, Mrs. Asifa Arabi.

                //- Publication Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (III) Publication Committee 
                    ul.star-ul
                        li To oversee and supervise research and development activities in the college and to encourage faculty and students in writing research papers representing college.
                        li To prepare Quarterly “News Letter”.
                        li To collect articles from faculty, staff and students for annual College Magazine “Eagle”.
                        li To make necessary arrangement for publishing annual College Prospectus.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Ms. Rizwana Khursheed
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Adil Majeed Chikan, Ms. Rumaisa Nabi, Mr. Adil Bashir.

                //- IT Cell 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (IV) IT Cell
                    ul.star-ul
                        li To ensure that the college website is regularly updated, improved and well maintained.
                        li To provide technical support to librarian of college in updating and maintaining library management software.
                        li To ensure LAN, Wifi and internet facility are up and running 24X7.
                        li To annually recommend hardware and software updates needed for all college labs.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Javeed Ahmad Parray
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Umer Yousuf Beigh and Mr. Adil Bashir

                //-  Library Committe
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (V) Library Committe
                    ul.star-ul
                        li To function as a conduit/ channel between the library and its users.
                        li To modernize the library from time to time
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Mansoor A. Qureshi.
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Imran Ahmad Khan & Mr. Adil Mehraj

                //- Cultural and Social Responsibility Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (VI) Cultural and Social Responsibility Committee 
                    ul.star-ul
                        li To promote and arrange extracurricular activities to bring out the talents of students in the performing arts.
                        li To inculcate and develop social sensitivity, moral values and professional ethics in IITM students along with their academic formation so as to show responsible behavior to the professional community and society at large and to grow as responsible citizens of high moral values, making valuable contributions to profession/ community/ society, thus realizing a major thrust in the Vision and Mission of the IITM.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mrs. Sabina Tariq.
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mrs. Aasifa Arabi and Ms. Rumaisa Nabi
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Representative from Students Council

                //- Sports Committee
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (VII) Sports Committee
                    ul.star-ul
                        li To provide healthy leisure time to every student.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Mubashir Qadir.
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mrs. Adil Majeed and Mr. Pervaiz
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Representative from Students Council 


                //- Alumni Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (VIII) Alumni Committee 
                    ul.star-ul
                        li To significantly increase alumni interaction with the institution.
                        li Fostering and keeping alive loyalty at Alumni to the institution and creating concern for its welfare.
                        li Inculcate exchange of ideas among alumni and between students.
                        li To assist current students to achieve their goals by means of mentorship setup through College Alumni.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mrs. Ambreen
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Javeed A. Parray, Mr. Mubashir Qadir
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Abdul Shakoor, Mr. Zain-ul-Abudin

                //- Grievance Redressal Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (IX) Grievance Redressal Committee 
                    ul.star-ul
                        li To provide an avenue for the aggrieved students to redress their individual grievances in order to have a healthy atmosphere among students, staff and management in the Institute.
                        li To comply with the AICTE regulations to provide for establishment of Grievance Redressal Committee in each Institute approved by AICTE.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Dr. R. A. Thakur (Director).
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Sabina Tariq
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Misbah Maqbool and Mrs. Ambreen

                //- Women Development Cell  
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (X) Women Development Cell 
                    ul.star-ul
                        li To create and maintain safe, healthy and supportive environment for women and girl students in the campus.
                        li To comply with the AICTE regulations to provide for establishment of Grievance Redressal Committee in each Institute approved by AICTE.To address issues faced by women at work place and to organize awareness generation programs and to take preventive steps towards protection of women staff / female students from harassment in the college.
                        li The Women Redressal Committee and Internal Complaints Committee is functioning in the college as per the norms laid down by the AICTE/ University of Kashmir.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Misbah Maqbool
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Asma Gulzar and Mrs. Qurat ul Ain.

                //- Committee for SC/ST and Scholarships
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (XI) Committee for SC/ST and Scholarships
                    ul.star-ul
                        li To create and maintain safe, healthy and supportive environment for SC/ST staff and students in the campus.
                        li To address the issues of staff and students, belonging to schedule caste/schedule tribes in the Institute and to prevent atrocities against them.
                        li To comply with AICTE regulations for the establishment of the Committee for SC/ST (As per the Scheduled Caste and the Scheduled Tribes (prevention of Atrocities) act, 1989, No. 33 0f1989, dated 11/09/1989)
                        li To provide scholarships to deserving and needy students.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Sabina Tariq
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Arjumand

                //- Canteen/ Hostel Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (XII) Canteen/ Hostel Committee 
                    ul.star-ul
                        li Overall monitoring of canteen and facilitating students in getting hostel facilities.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Mubashir Qadir
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Ms. Mehnaz(Section Officer)

                //- Training & Placement Cell (TPC) 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (XIII) Training & Placement Cell (TPC) 
                    ul.star-ul
                        li To being industry closer to the academics and Vice-Versa by developing close tasks between the Institute - Industry by interactive programs.
                        li To encourage industries & organizations for placement and training of students in industries and to conduct regular industrial visits, seminars symposiums, workshops, guest lecturers, etc.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Arshid Ahmad
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr Sajad Gul, Ms. Khurshid

                //- Code of Conduct monitoring Committee 
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (XIV) Code of Conduct monitoring Committee
                    ul.star-ul
                        li To monitor adherence to the code of conduct.
                        li To organize programs on professional ethics for staff and students.
                        li To organize awareness programs on code of conduct for staff & students.
                        li To implement the annual awareness programme on code of conduct.
                        li Roles and responsibilities shall be assigned to student representatives, faculty coordinators of different committees/cells, HODs to schedule and implement the plan of action on code of conduct.
                        li The committee shall maintain reports with supporting documents of the programs organized.
                        li The committee shall meet twice in a year and record the minutes of the meetings.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Dr. RA. Thakur (Director)
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Asma Gulzar
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Mr. Asifa Arabi.

                //- Purchase Committee
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (XV) Purchase Committee
                    ul.star-ul
                        li Purchase of required items.
                        li Looking after the maintenance of the infrastructure.
                        li Monitoring the maintenance of the stock.
                        li Looking after the safety and security of the college infrastructure
                        li Framing the procedures and policies related to purchase of items which are within the jurisdiction of the committee.
                        li Any other responsibility entrusted by the Head of the college with written orders.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            |  Dr. RA. Thakur (Director)
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Sajad Gul
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Imran A. Khan, Mr. Yasir (Site Engineer)

                //- Green Campus Development Committee
                .text-card
                    .text-card__heading.margin-bottom-xs
                        span (XVI) Green Campus Development Committee
                    ul.star-ul
                        li To protect and conserve ecological systems and resources within the campus.
                        li To ensure judicious use of environmental resources to meet the needs and aspirations of the present and future generations.
                        li To integrate environmental concerns into policies, plans and programs for social development and outreach activities.
                        li To work with all stak ehol ders and the Jocal community to raise awareness and seek the adoption of environmental good practice and the reduction of any adverse effects on the environment.
                        li To continuously improve our contribution to climate protecti on and adaptation to climate change and to the conservation of global resources.
                        li To continuously improve the efficient use of all resources, including energy and water, and to reduce consumption and the amount of waste produced, recovering and recycling waste where possible.
                        li To make the campus plastic free.
                    .text-card__footer.margin-top-xs
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Qurat Ul Ain
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mrs. Asma Gulzar
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z')
                            | Mr. Arshid Ahmad

