extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading IQAC Composition
                p The Internal Quality Assurance Cell at Iqbal Institute of Technology and Management plays a crucial role in ensuring and enhancing the quality of education and academic processes. Committed to excellence, the IQAC consists of a dedicated team of experienced faculty members, administrators, and external experts who work collaboratively towards continuous improvement. With a focus on implementing best practices, monitoring quality parameters, and fostering a culture of innovation and excellence, the IQAC strives to maintain and enhance the standards of our institution. Explore the composition of our IQAC team, their expertise, and their relentless efforts in upholding our commitment to quality education.

                //- Course structure
                .line-above-heading
                h2.heading-with-top-border Explore
                .courses-table

                    table(cellspacing='0')
                        //- Table headers
                        tr
                            th.border-bottom-solid S.No.
                            th.border-bottom-solid Composition Description 
                            th.border-bottom-solid Members
                            th.border-bottom-solid Designation 
                            th.border-bottom-solid IQAC Composition as per NAAC Norms
                        tr


                        //- 1
                        tr 
                            td.border-right.border-bottom-solid 1
                            td.border-right.border-bottom-solid Chariperson: Head of Institution
                            td.border-right.border-bottom-solid Dr. R.A. Thakur
                            td.border-right.border-bottom-solid Director
                            td.border-bottom-solid Chairman IQAC
                        tr


                        //- 2
                        tr 
                            td.border-right.border-bottom-solid(rowspan=2) 2
                            td.border-right.border-bottom-solid(rowspan=2) A few Senior Admisnistrative Officers of the Insitution
                            td.border-right Mr. Javid Ahmad Parray
                            td.border-right HOD Computer Science
                            td Member (Senior Administrative)

                        tr 
                            td.border-right.border-bottom-solid Mrs. Sabina Tariq
                            td.border-right.border-bottom-solid Dean Students Welfare
                            td.border-bottom-solid  Member (Senior Administrative)


                        //- 3
                        tr 
                            td.border-right.border-bottom-solid(rowspan=5) 3
                            td.border-right.border-bottom-solid(rowspan=5) Three to Eight teachers
                            td.border-right Mr. Sajad Gul
                            td.border-right Assistant Professor, Department of Computer Science
                            td Member (Senior Teacher)

                        tr 
                            td.border-right Mrs. Asifa Arabi
                            td.border-right Assistant Professor, Department of Computer Science
                            td Member (Senior Teacher)

                        tr 
                            td.border-right Mrs. Misbah Maqbool
                            td.border-right Assistant Professor, Department of Management Studies
                            td Member (Senior Teacher)

                        tr 
                            td.border-right Mr. Adil Mehraj
                            td.border-right Assistant Professor, Department of Management Studies
                            td Member (Senior Teacher)

                        tr 
                            td.border-right.border-bottom-solid Mrs. Qurat Ul Ain
                            td.border-right.border-bottom-solid Assistant Professor, Department of Computer Science
                            td.border-bottom-solid Member (Senior Teacher)

                        tr


                        //- 4
                        tr 
                            td.border-right.border-bottom-solid 4
                            td.border-right.border-bottom-solid One member from Management
                            td.border-right.border-bottom-solid Prof.(Dr.) Aijaz Ahmad Mir
                            td.border-right.border-bottom-solid Professor
                            td.border-bottom-solid Member (Management)
                        tr

                        //- 5
                        tr 
                            td.border-right.border-bottom-solid(rowspan=4) 5
                            td.border-right.border-bottom-solid(rowspan=4) One/two nominees from local Society, Student and Alumni
                            td.border-right Mr. Ali Mohammad
                            td.border-right NA
                            td Member (Local Society)

                        tr 
                            td.border-right Ms. Sadaf Jan
                            td.border-right Student, MBA 2nd Sem
                            td Member (Student)

                        tr 
                            td.border-right Mr. Soloman Adnan
                            td.border-right Multimedia Graphic Designer
                            td Member (Alumni)

                        tr 
                            td.border-right.border-bottom-solid Mr. Abdul Shakoor
                            td.border-right.border-bottom-solid Lecturer
                            td.border-bottom-solid Member (Alumni)


                        //- 6
                        tr 
                            td.border-right.border-bottom-solid(rowspan=2) 6
                            td.border-right.border-bottom-solid(rowspan=2) One/two nominees from employees/industrialists/ stakeholders
                            td.border-right Mr. Hafiz Ullah
                            td.border-right Accounts Manager, IMT Bemina
                            td Member (Employees)

                        tr 
                            td.border-right.border-bottom-solid Mr.Javid Ahmad Chisti
                            td.border-right.border-bottom-solid CEO Sublime enterprises
                            td.border-bottom-solid Member (Industries)


                        //- 7
                        tr 

                            td.border-right 7
                            td.border-right One of the Senior teachers as the Coordinator/ Director of the IQAC
                            td.border-right Mrs. Asma Gulzar.
                            td.border-right Accounts Manager, IMT Bemina
                            td Member (Employees)

                div.btn-two
                    a(href="/data/documents/iqac-composition.pdf" target="_blank")
                        button.btn-two Download Composition
