extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading leadership
                p At Iqbal Institute of Technology and Management, we are proud to have visionary leaders who drive our institution's growth and success. Our leadership team, comprising individuals with extensive expertise and unwavering commitment, is dedicated to providing a transformative education and shaping the future of our students. Led by the Founder Chairman, Dr. Yousuful Omer, and supported by Dr. R.A Thakur and the Board of Trustees, their collective vision and guidance guide IITM towards excellence in teaching, research, and service. Let us introduce you to the inspiring individuals who lead our institution with passion and dedication.

                .line-above-heading 
                h2.heading-with-top-border Dr. Yousuful Omer - Chairman IMT
                img(src="/data/collegeImgs/chairman.jpg", alt="").inpage-img.margin-bottom-xs
                p Dr. Yousuful Omer, the Founder Chairman of Iqbal Memorial Trust Srinagar, is a visionary leader and an academician par excellence. His tireless efforts and unwavering commitment have propelled the heights gained by the Iqbal Memorial Trust, bearing testimony to his strong sense of ideals and goals. His cherished conviction is a treasured legacy that continues to inspire and guide us.

                .line-above-heading 
                h2.heading-with-top-border Er. M. A. Qureshi - Secretary IMT 
                p Er. M. A. Qureshi, the devoted Secretary of Iqbal Memorial Trust Srinagar, is a visionary leader with unwavering commitment. His dedication has propelled the Trust to remarkable heights, reflecting his strong ideals. A legacy of inspiration, Er. M. A. Qureshi continues to guide the Trust towards ongoing success.

                .line-above-heading 
                h2.heading-with-top-border Dr. R.A Thakur
                img(src="/data/collegeImgs/director.jpg", alt="").inpage-img.margin-bottom-xs
                p Dr. R.A Thakur, an accomplished individual, leads alongside Dr. Omer, contributing expertise in their respective fields. Together, they work tirelessly to provide an enriching and supportive environment for students, faculty, and staff. Their shared vision for the institution's future guides initiatives that foster academic excellence, cutting-edge research, and a culture of service.

                .line-above-heading 
                h2.heading-with-top-border Board of Trustees
                p The Board of Trustees, composed of distinguished individuals from various fields, plays a vital role in supporting and advancing the institution's mission and goals. They provide strategic guidance and governance, ensuring IITM remains at the forefront of academic excellence and innovation.

                .line-above-heading 
                h2.heading-with-top-border Institutional Vision
                p Under the steadfast support of the Board of Trustees and the leadership of Dr. R.A Thakur, IITM continues to flourish as a center of excellence in teaching, research, and service. The shared vision for the institution's future drives initiatives that empower the next generation of talented professionals to make a meaningful difference in the world.
                p As IITM evolves and grows, its commitment to providing a transformative education remains unwavering. With visionary leaders at the helm, the institution remains dedicated to shaping the next generation and empowering them to excel.