extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading Quality Profile
                p Our Quality Profile provides a comprehensive overview of IITM, showcasing our dedication to quality education. It encompasses key aspects such as academic programs, faculty qualifications, infrastructure, research activities, student achievements, and collaborations. Explore our Quality Profile to gain insights into how we strive for excellence and foster a transformative learning environment for our students.

                .line-above-heading 
                h2.heading-with-top-border Discover
                iframe.pdf-viewer.hidden(src="/data/documents/quality-profile.pdf")
                .pdf.margin-top-sm.hidden
                    .pdf__heading
                    .pdf__container
                    .pdf__download
                        a(href="/data/documents/quality-profile.pdf" target="_blank")
                            button Download

    script.
        //- Show pdf using pdfJs function defined in base.pug script.(For small devies)
        pdfJs(["/data/documents/quality-profile.pdf"])


