extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading vision mission and values
                p  At Iqbal Institute of Technology and Management, our Vision, Mission, and Values serve as the guiding principles that shape our institution. Our vision reflects the ambitious direction we strive to achieve, our mission defines our purpose and goals, and our values form the core of our culture and operations. Together, they lay the foundation for our commitment to delivering a transformative education and making a positive impact in the lives of our students and the community we serve. Join us as we share our vision, mission, and values that define the essence of IITM.

                .line-above-heading 
                h2.heading-with-top-border Vision 
                p.text-blockquote To contribute to the society through excellence in technical education and provide globally competitive work force through education, training and partnership with industry.

                .line-above-heading 
                h2.heading-with-top-border Mission 
                p To impart quality professional and technical education to students, inculcating in them national/ global perspective, leadership attitude, co-operative spirit, cultural outlook, ethical values, social responsibilities and healthy habits so as to contribute to the technological, economic and social development of the state.. To inculcate a value based education through fostering of dedication in staff and motivating students. To create effective interface with the industry and community to impart quality education at par with the best in the country and the world.

                .line-above-heading 
                h2.heading-with-top-border Values 
                p At IITM, our values serve as the guiding principles that shape our institution and define our identity. We believe in cultivating a culture of excellence, integrity, inclusivity, and innovation. These core values are deeply ingrained in every aspect of our educational process, shaping the experiences of our students and the overall environment of our college.
                ol.beautiful-list.margin-top-sm(style='--length: 6' role='list')
                    li(style='--i: 1')
                        h3 Excellence
                        p We are committed to providing an excellent education that meets global standards. We strive for academic excellence and encourage our students to pursue their goals with dedication, passion, and a thirst for knowledge. We promote a culture of continuous improvement, fostering a spirit of curiosity and innovation among our students and faculty.instructions. 
                    li(style='--i: 2')
                        h3 Integrity
                        p Integrity is the foundation of everything we do at IITM. We uphold the highest ethical standards and expect our students and faculty to demonstrate honesty, transparency, and accountability in their actions. We value academic integrity and promote a culture of fairness, respect, and responsible conduct throughout our college community.
                    li(style='--i: 3')
                        h3 Inclusivity
                        p We embrace diversity and foster an inclusive environment where everyone feels welcome, respected, and valued. We believe in the power of diverse perspectives and backgrounds to enrich the learning experience. We strive to create a campus that is free from discrimination, where individuals from all walks of life can thrive and contribute meaningfully to our community.
                    li(style='--i: 4')
                        h3 Innovation
                        p We encourage a spirit of innovation and entrepreneurship among our students. We foster an environment that promotes creativity, critical thinking, and problem-solving skills. We inspire our students to think outside the box, to question assumptions, and to develop innovative solutions to real-world challenges. We support their entrepreneurial aspirations and provide opportunities to translate their ideas into tangible outcomes.
                    li(style='--i: 5')
                        h3 Collaboration
                        p We believe in the power of collaboration and teamwork. We foster a supportive and collaborative learning environment where students can learn from one another, engage in group projects, and develop strong interpersonal skills. We encourage interdisciplinary collaboration, enabling students to explore different fields and perspectives to broaden their horizons.
                    li(style='--i: 6')
                        h3 Community Engagement
                        p We recognize the importance of giving back to society and being responsible global citizens. We instill a sense of social responsibility in our students, encouraging them to actively engage with the community through various service-learning initiatives and volunteering opportunities. We believe in using education as a catalyst for positive change and making a meaningful impact on the world around us.

                p These values are not just words on paper; they are the heartbeat of IITM. They guide our decisions, inspire our actions, and shape the experiences of our students. We are proud to cultivate a culture that promotes excellence, integrity, inclusivity, innovation, collaboration, and community engagement. At IITM, we are committed to nurturing well-rounded individuals who will make a positive difference in their chosen fields and in society as a whole.