extends ../layouts/base.pug

block styles
    

block content
   

    main.page-layout 
        include ../layouts/menu.pug

        .main
            

            h2.heading-with-top-border Explore the following documents

            if documents && documents.length
                each doc in documents
                    h2=doc.document_title
                    
                    a(href=`/aqar/document/${doc.id}` style="display: block; width: 100%; text-align: center; margin: 20px 0;")
                        button.tabs__tab(style="width:100%")= doc.document_title
            else
                p.text-center.text-muted No documents found for this criteria.