extends ../layouts/base.pug

block styles 
    //- Open Graph Tags
    meta(name="og:title", content="IITM - Campus")
    meta(name="og:description", content="Discover academic excellence at Iqbal Institute of Technology and Management. Specializing in Computer Science and Management, our curriculum empowers students with essential knowledge and skills for dynamic careers. Join us for a transformative academic journey.")
    meta(name="og:image" content=bannerImg)

    //- Meta Description
    meta(name="description", content="Discover academic excellence at Iqbal Institute of Technology and Management. Specializing in Computer Science and Management, our curriculum empowers students with essential knowledge and skills for dynamic careers. Join us for a transformative academic journey.")

block content
    //- include ../layouts/banner.pug
    main.academics-page.container-lg

        h3.academics-page__introduction Explore the dynamic campus of Iqbal Institute of Technology and Management (IITM) Srinagar, where academic excellence harmonizes with a vibrant student life. Our canteen offers a diverse menu, ensuring quality, hygiene, and affordability. While our hostels are in progress, we collaborate with a third party to provide affordable living spaces. Embrace holistic development through our state-of-the-art sports facilities and diverse activities. Our transportation service, with two buses and multiple pickup locations, ensures a convenient commute for all. Discover a comprehensive and enriching college experience at IITM, where every aspect of student life is thoughtfully considered.

        div.margin-top-sm.margin-bottom-md
            .square-cards
                .square-cards__item 
                    a(href="/campus/canteen")
                        img(src="/data/imgs/canteen-banner.jpg")
                        div
                            h2 Canteen
                            p Culinary diversity, quality, and affordability.

                .square-cards__item 
                    a(href="/campus/hostel")
                        img(src="/data/imgs/hostel-banner.jpg")
                        div
                            h2 Hostel
                            p Culinary diversity, quality, and affordability.

                .square-cards__item 
                    a(href="/campus/sports")
                        img(src="/data/collegeImgs/sports.JPG")
                        div
                            h2 Sports
                            p Holistic development through state-of-the-art facilities.

                .square-cards__item 
                    a(href="/campus/transportation")
                        img(src="/data/imgs/transportation-banner.jpg")
                        div
                            h2 Transportation
                            p Convenient commute with multiple pickup locations.