extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading Canteen
                p At IITM, we understand that good food is essential to fueling your mind and body during your academic journey. Our canteen is designed to cater to the diverse culinary preferences of our students, faculty, and staff. Explore the delightful features that await you.

                .line-above-heading 
                h3.heading-with-top-border Delightful Dining Experience
                p Our canteen offers a wide range of culinary delights, featuring both Indian and regional cuisines, as well as popular international dishes. Indulge in a delectable selection that includes:
                ul.star-ul
                    li Mouthwatering rice dishes and aromatic curries
                    li Scrumptious bread-based snacks and sandwiches
                    li Fresh and invigorating salads
                    li A variety of beverages to quench your thirst

                .line-above-heading 
                h3.heading-with-top-border Quality and Hygiene
                p We prioritize food quality and hygiene to ensure a safe and enjoyable dining experience. Our canteen adheres to strict standards, with a focus on cleanliness and sourcing ingredients from reliable suppliers. You can trust that every dish is prepared in a clean and hygienic kitchen, keeping your health and satisfaction as our top priority.

                .line-above-heading 
                h3.heading-with-top-border Affordable Dining Options
                p We understand the importance of affordability for our student community. The canteen offers reasonably priced meals, with subsidized food items to make them accessible to all. Enjoy a satisfying and nourishing meal without straining your budget.

                .line-above-heading 
                h3.heading-with-top-border Relaxing Dining Area
                p Our canteen provides a comfortable and inviting dining area, where you can unwind and savor your meal. Whether you prefer cozy tables, chairs, or casual benches, you'll find a welcoming space to connect with friends, recharge, and enjoy the company of fellow IITM community members.

                .line-above-heading 
                h3.heading-with-top-border Convenient Operating Hours
                p The canteen aligns its operating hours with the regular college schedule, ensuring that you can satisfy your cravings throughout the day. From breakfast to dinner, our doors are open, providing you with delicious options to suit your appetite. In addition, we may also extend our hours to accommodate late-night study sessions, so you can refuel your energy during those intense study periods.

                .line-above-heading 
                h3.heading-with-top-border A Glimpse of Culinary Delights
                p We invite you to feast your eyes on a glimpse of the mouthwatering dishes available at our canteen. Take a moment to browse through our image gallery below, showcasing the appetizing creations that await you at IITM Srinagar Canteen.



