extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading Hostel
                p Discover the convenience of living at Iqbal Institute of Technology and Management (IITM) Srinagar with our evolving hostel facilities, designed to provide students with a comfortable and affordable home away from home.

                .line-above-heading
                h3.heading-with-top-border Collaborative Living Spaces
                p While our own hostels are in progress, we have collaborated with a trusted third party to offer affordable living spaces for our students. Experience collaborative living environments that foster a sense of community and support.

                .line-above-heading
                h3.heading-with-top-border Affordable Accommodation
                p IITM understands the financial considerations of students. Our collaborative approach ensures that accommodation is not only comfortable but also affordable, allowing you to focus on your studies without straining your budget.

                .line-above-heading
                h3.heading-with-top-border Future Hostel Developments
                p Stay tuned for upcoming developments as IITM works diligently to establish its own hostels. These future accommodations will further enhance the overall college experience, providing students with additional options for secure and well-equipped living spaces.

                .line-above-heading
                h3.heading-with-top-border Committed to Your Well-being 
                p At IITM, we are committed to providing a secure and conducive living environment. Our focus is on creating a home away from home, ensuring that students feel supported, comfortable, and ready to excel in their academic pursuits.