extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading Transportation
                p Explore seamless transportation solutions at Iqbal Institute of Technology and Management (IITM) Srinagar, enhancing your daily journey to and from the campus.

                .line-above-heading 
                h3.heading-with-top-border Fleet Overview
                p Our reliable transportation fleet includes two buses strategically covering numerous pickup locations across the Srinagar district. This expansive network ensures accessibility for students residing in various parts of the city and its outskirts.

                .line-above-heading
                h3.heading-with-top-border Convenient Pickup Points
                p Designed with your convenience in mind, our well-organized pickup points cater to students located in both the heart of the city and its peripheral areas. This thoughtful arrangement simplifies your commute, saving you time and effort.

                .line-above-heading
                h3.heading-with-top-border Punctuality and Safety
                p At IITM, punctuality and safety are paramount. Our transportation system is committed to providing timely services while prioritizing the well-being of our students. Rest assured, you can rely on us for a secure and on-time commute.

                .line-above-heading
                h3.heading-with-top-border Enhancing Your College Experience
                p Experience the benefits of a smooth and reliable transportation network that adds value to your overall college experience at IITM. We understand the importance of hassle-free commuting, allowing you to focus on what matters most—your academic journey.