extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading rules and reuglations
                p At Iqbal Institute of Technology and Management (IITM) Srinagar, we strive to create a conducive learning environment that promotes academic excellence, personal growth, and a sense of community. To ensure a smooth and harmonious functioning of the institution, we have established certain rules and regulations that all students are expected to adhere to. These rules are designed to maintain discipline, uphold ethical standards, and create a safe and respectful atmosphere for everyone. By enrolling in any of our programs, including BCA, BBA, MCA, and MBA, students agree to abide by the following rule:
                h4.left-aligned-heading.font-md.margin-bottom-none Academic Integrity
                ul.star-ul.margin-left-sm
                    li Students are expected to uphold the highest standards of academic integrity.
                    li Plagiarism, cheating, or academic misconduct in any form is strictly prohibited.
                    li All academic work, including assignments, projects, and examinations, should be the student's original work or properly cited as per the academic guidelines.
                h4.left-aligned-heading.margin-top-xs.font-md.margin-bottom-none Attendance and Punctuality
                ul.star-ul.margin-left-sm
                    li Regular attendance and punctuality are essential for effective learning.
                    li Students are expected to attend all classes, tutorials, laboratory sessions, and other academic activities as per the timetable.
                    li Absences should be communicated to the respective faculty members or designated authorities in advance, with valid reasons.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs Code of Conduct
                ul.star-ul.margin-left-sm
                    li Students should conduct themselves with honesty, respect, and professionalism at all times.
                    li Disruptive behavior, harassment, discrimination, or violation of the rights of fellow students, faculty, or staff members will not be tolerated.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs Use of Facilities
                ul.star-ul.margin-left-sm
                    li Students should responsibly utilize the facilities provided by the institution, including classrooms, laboratories, libraries, and computer labs.
                    li Any damage to the property or misuse of resources is strictly prohibited.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs Dress Code
                ul.star-ul.margin-left-sm
                    li Students are expected to dress modestly and appropriately while on the campus premises.
                    li Specific guidelines regarding the dress code may be provided by the institution.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs Mobile Phone and Electronic Devices
                ul.star-ul.margin-left-sm
                    li The use of mobile phones and other electronic devices should be limited to designated areas.
                    li Electronic devices should not cause disruption to academic activities.
                    li Students are expected to follow any specific guidelines or restrictions regarding the use of electronic devices during classes or examinations.
                h4.left-aligned-heading.font-md.margin-bottom-none.margin-top-xs Disciplinary Actions
                ul.star-ul.margin-left-sm
                    li Violation of any rules and regulations may result in disciplinary actions.
                    li Disciplinary actions can include warnings, fines, suspension, or expulsion, depending on the severity of the offense.
                p.margin-top-xs It is important for students to familiarize themselves with the complete set of rules and regulations as outlined in the Student Handbook or provided by the institution. The rules and regulations may be subject to updates or amendments, and it is the responsibility of the students to stay informed about any changes.
                p By adhering to these rules and regulations, students contribute to the overall academic environment and uphold the reputation of IITM Srinagar. We believe that a respectful and disciplined approach to education is essential for the personal and professional growth of every student.
                p
                    | Should you have any questions or require further clarification regarding the rules and regulations, please reach out to the 
                    a(href="/about/contact" target="_blank").link-inside-p college administration 
                    | or the designated authorities responsible for student affairs.
