extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading sakhawat centre
                p
                    a(href="/about/imt" target="_blank").link-inside-p Iqbal Memorial Trust Srinagar 
                    | having realized the necessity of having a vibrant social service system in place, established Sakhawat Centre in June 2005 as one of its branches in the area of social service. The basic objective of this organization is to provide an appropriate help to orphans, widows, destitute and the community at large whenever it faces any calamity or a disaster. In view of ever increasing number of physically challenged persons and to launch the programme of social service on bigger scale, Sakhawat Centre was registered as an independent social service organization in February, 2013. By now it has emerged as a source of hope for the suffering people of the society. Coming to the rescue of the people affected by natural calamities has become a hallmark of this organization over the past thirteen years.

                    .line-above-heading 
                    h2.heading-with-top-border Vision of Sakhawat Centre 
                    p.text-blockquote To become a vibrant, resourceful and responsive Social Institution for helping orphans, widows and other weaker sections of the society and to enable them to live a dignified life.

                    .line-above-heading 
                    h2.heading-with-top-border Mission of Sakhawat Centre 
                    p To work faithfully and dedicatedly, for the upliftment of weaker sections and neglected people by way of creating resources and establishing income generating programs to make such people self-dependent.

                    .line-above-heading 
                    h2.heading-with-top-border Aims and Objectives of Sakhawat Centre 
                    ol.star-ul
                        li To help orphans in their educational development, healthcare and organize personality development programs to create a sense of belonging among them.
                        li To provide educational scholarships to meritorious and talented students of poor and deserving families.
                        li To establish a small hospital at appropriate level with state of the art facilities for the health care of orphans, widows and other destitute persons.
                        li To co-operate with Government and Non-Governmental organizations in rendering social service
                        li To provide financial assistance in the marriage programs of poor people.
                        li To provide emergent relief to the victims of earthquake, fire hazards, floods and also to patients suffering from chronic diseases.
                        li To organize public awareness programs, conferences and seminars to enlist the co-operation of people in this field.




