extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading STEM Scholarship
                p STEM Scholarship is a scholarship program offered to students pursuing BCA or MCA courses in our college (specific to our college in whole Kashmir valley). It is offered by Taj Syed and Zakir Foundation USA. The scholarship is aimed at providing financial assistance to students who are good at academics and have a passion for technology, but are unable to afford the cost of education. The scholarship is open to students who belong to economically weaker sections of the society.
