extends ../layouts/base.pug

block content
    //- include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading tution and fees
                p At Iqbal Institute of Technology and Management, we strive to provide high-quality education and comprehensive academic programs to shape the future leaders of tomorrow. As part of our commitment to transparency, we aim to provide clear information about the tuition fees for our courses.
             
                .line-above-heading 
                h3.heading-with-top-border Fees
                .courses-table
                    table(cellspacing='0')
                        tr
                            th.border-bottom-solid Course
                            th.border-bottom-solid Fees

                        each course, index in courses
                            tr
                                td.border-right(class={ 'border-bottom-solid': index < courses.length - 1 })= course.name
                                td(class={ 'border-bottom-solid': index < courses.length - 1 })= course.fee


                .line-above-heading 
                h3.heading-with-top-border Scholarships and Financial Aid
                p
                    | At IITM Srinagar, we believe in providing equal opportunities for all deserving students. We offer various scholarships and financial aid programs to support meritorious students and those in need. To explore the available scholarships and financial aid options, please visit our 
                    a(href="/admissions/scholarships" target="_blank").link-inside-p Scholarships and Financial Aid 
                    | page or contact the 
                    a(href="/about/contact" target="_blank").link-inside-p college administration.

                .line-above-heading 
                h3.heading-with-top-border Payment Schedule and Methods
                p
                    | The tuition and fees are typically payable in installments at the beginning of each academic semester. IITM Srinagar accepts payments through various modes, including online transfers, bank drafts, or cash payments at designated payment counters. For detailed information regarding the payment schedule and methods, please contact 
                    a(href="/about/contact" target="_blank").link-inside-p Accounts Department.
                p Invest in your future at Iqbal Institute of Technology and Management. We strive to provide a comprehensive and enriching educational experience, empowering you to excel in your chosen field. For any further clarification or specific fee queries, please do not hesitate to reach out to the college administration. We look forward to welcoming you to IITM Srinagar and supporting your academic journey.



