extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                
                .text-card
                    .text-card__heading
                        span Bachelors in Computer Applications
                    p The BCA program at IITM Srinagar is a three-year undergraduate program. It is open to students who have completed 10+2 or an equivalent qualification. With an intake capacity of 120 students per year, the BCA program provides a strong foundation in computer applications.
                    .text-card__footer
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z")
                            | 3 years
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                                path(d="M448 75.2v361.7c0 24.3-19 43.2-43.2 43.2H43.2C19.3 480 0 461.4 0 436.8V75.2C0 51.1 18.8 32 43.2 32h361.7c24 0 43.1 18.8 43.1 43.2zm-37.3 361.6V75.2c0-3-2.6-5.8-5.8-5.8h-9.3L285.3 144 224 94.1 162.8 144 52.5 69.3h-9.3c-3.2 0-5.8 2.8-5.8 5.8v361.7c0 3 2.6 5.8 5.8 5.8h361.7c3.2.1 5.8-2.7 5.8-5.8zM150.2 186v37H76.7v-37h73.5zm0 74.4v37.3H76.7v-37.3h73.5zm11.1-147.3l54-43.7H96.8l64.5 43.7zm210 72.9v37h-196v-37h196zm0 74.4v37.3h-196v-37.3h196zm-84.6-147.3l64.5-43.7H232.8l53.9 43.7zM371.3 335v37.3h-99.4V335h99.4z")
                            | 10+2 with Maths
                        .text-card__footer--participants
                            span
                                svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linejoin='round' stroke-linecap='round')
                                    g#SVGRepo_iconCarrier
                                        path(stroke-width='2' stroke='#ffffff' d='M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z')
                                        path(stroke-linecap='round' stroke-width='2' stroke='#ffffff' d='M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21')
                            span
                                svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linejoin='round' stroke-linecap='round')
                                    g#SVGRepo_iconCarrier
                                        path(stroke-width='2' stroke='#ffffff' d='M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z')
                                        path(stroke-linecap='round' stroke-width='2' stroke='#ffffff' d='M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21')
                            span
                                svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linejoin='round' stroke-linecap='round')
                                    g#SVGRepo_iconCarrier
                                        path(stroke-width='2' stroke='#ffffff' d='M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z')
                                        path(stroke-linecap='round' stroke-width='2' stroke='#ffffff' d='M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21')
                            span 120
                    a(href="/academics/cs/bca" target="_blank")
                        button Know More



                .text-card
                    .text-card__heading
                        span Bachelors in Business Administration
                    p The BBA program at IITM Srinagar is a three-year undergraduate program. It is open to students who have completed 10+2 or an equivalent qualification. With an intake capacity of 120 students per year, the BBA program focuses on developing business administration skills.
                    .text-card__footer
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
                                path(d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z")
                            | 3 years
                        div
                            svg(fill='#9fa4aa' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                                path(d="M448 75.2v361.7c0 24.3-19 43.2-43.2 43.2H43.2C19.3 480 0 461.4 0 436.8V75.2C0 51.1 18.8 32 43.2 32h361.7c24 0 43.1 18.8 43.1 43.2zm-37.3 361.6V75.2c0-3-2.6-5.8-5.8-5.8h-9.3L285.3 144 224 94.1 162.8 144 52.5 69.3h-9.3c-3.2 0-5.8 2.8-5.8 5.8v361.7c0 3 2.6 5.8 5.8 5.8h361.7c3.2.1 5.8-2.7 5.8-5.8zM150.2 186v37H76.7v-37h73.5zm0 74.4v37.3H76.7v-37.3h73.5zm11.1-147.3l54-43.7H96.8l64.5 43.7zm210 72.9v37h-196v-37h196zm0 74.4v37.3h-196v-37.3h196zm-84.6-147.3l64.5-43.7H232.8l53.9 43.7zM371.3 335v37.3h-99.4V335h99.4z")
                            | 10+2 or equivalent
                        .text-card__footer--participants
                            span
                                svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linejoin='round' stroke-linecap='round')
                                    g#SVGRepo_iconCarrier
                                        path(stroke-width='2' stroke='#ffffff' d='M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z')
                                        path(stroke-linecap='round' stroke-width='2' stroke='#ffffff' d='M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21')
                            span
                                svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linejoin='round' stroke-linecap='round')
                                    g#SVGRepo_iconCarrier
                                        path(stroke-width='2' stroke='#ffffff' d='M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z')
                                        path(stroke-linecap='round' stroke-width='2' stroke='#ffffff' d='M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21')
                            span
                                svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                                    g#SVGRepo_bgCarrier(stroke-width='0')
                                    g#SVGRepo_tracerCarrier(stroke-linejoin='round' stroke-linecap='round')
                                    g#SVGRepo_iconCarrier
                                        path(stroke-width='2' stroke='#ffffff' d='M17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8Z')
                                        path(stroke-linecap='round' stroke-width='2' stroke='#ffffff' d='M3 21C3.95728 17.9237 6.41998 17 12 17C17.58 17 20.0427 17.9237 21 21')
                            span 120
                    a(href="/academics/management/bba" target="_blank")
                        button Know More


                h1.page-heading UG Admissions
                p To apply for the undergraduate program, please ensure that you have the following documents ready for submission along with the admission form:

                ol.beautiful-ol-num
                    li D.O.B Certificate (10th class Marks card / Qualifying certificate)
                    li 10+2 Marks Certificate
                    li Provisional and character certificate from the last School attended
                    li State subject / domicile certificate
                    li 8 Passport Size Photographs 

                .important-note.margin-top-xs All the above documents must be submitted in their original form, along with three photocopies. Scanned documents will not be accepted.

                .line-above-heading
                h2.heading-with-top-border Admission Declaration
                p The admission for the UG course requires the following mandatory declaration:
                ul.star-ul
                    li The applicant has not been convicted of any criminal offence or released on bail in connection with a criminal case.
                    li The applicant understands that the completion of the admission form and fee deposition does not guarantee eligibility to sit in the examination until the university approves the admission.
                    li The applicant agrees to abide by the amendments made to the declaration policy from time to time.
                    li In case any statement is found to be incorrect at any stage, the admission for the course will be treated as cancelled.
                    li The applicant is not employed in any government department or private organization. If the applicant secures a job in such organizations, they will inform the institute authorities and seek withdrawal of their admission immediately. Failure to do so may result in appropriate action by the institute.
                    li No case of criminal offence of moral turpitude is pending against the applicant in any court of law or by any other competent authority.
                    li The applicant has not resorted to any act of indiscipline in the previous years.
                    li The applicant will not claim a refund of the fee or part of it once they have attended classes for at least a fortnight.
                    li The credentials/particulars mentioned are correct and the documents furnished are genuine.
                    li The admission to the specific course in IITM is purely provisional, at the applicant's own risk and responsibility, subject to verification of all academic documents as well as category certificate (if any) and eligibility to be determined by the competent authority.
                    li The applicant will abide by the rules and regulations currently in force or those that may be made applicable by the Institute.
                    li No complaint or FIR has been lodged against the applicant by the university/principal of the constituent Institute/affiliated Institute.

                p.margin-top-xs If you have any questions or require further information regarding the admission process, please feel free to reach out to our admissions department. We are here to assist you and address any concerns you may have.

                

                //- BBA
                