extends ../layouts/base.pug

block content
    include ../layouts/banner.pug

    main.page-layout 
        include ../layouts/pagemenu.pug

        .main
            div
                h1.page-heading UG Admissions
                p To apply for the undergraduate program, please ensure that you have the following documents ready for submission along with the admission form:

                ol.beautiful-ol-num
                    li D.O.B Certificate (10th class Marks card / Qualifying certificate)
                    li 10+2 Marks Certificate
                    li Provisional and character certificate from the last School attended
                    li State subject / domicile certificate
                    li 8 Passport Size Photographs 

                .important-note.margin-top-xs All the above documents must be submitted in their original form, along with three photocopies. Scanned documents will not be accepted.

                .line-above-heading
                h2.heading-with-top-border Admission Declaration
                p The admission for the UG course requires the following mandatory declaration:
                ul.star-ul
                    li The applicant has not been convicted of any criminal offence or released on bail in connection with a criminal case.
                    li The applicant understands that the completion of the admission form and fee deposition does not guarantee eligibility to sit in the examination until the university approves the admission.
                    li The applicant agrees to abide by the amendments made to the declaration policy from time to time.
                    li In case any statement is found to be incorrect at any stage, the admission for the course will be treated as cancelled.
                    li The applicant is not employed in any government department or private organization. If the applicant secures a job in such organizations, they will inform the institute authorities and seek withdrawal of their admission immediately. Failure to do so may result in appropriate action by the institute.
                    li No case of criminal offence of moral turpitude is pending against the applicant in any court of law or by any other competent authority.
                    li The applicant has not resorted to any act of indiscipline in the previous years.
                    li The applicant will not claim a refund of the fee or part of it once they have attended classes for at least a fortnight.
                    li The credentials/particulars mentioned are correct and the documents furnished are genuine.
                    li The admission to the specific course in IITM is purely provisional, at the applicant's own risk and responsibility, subject to verification of all academic documents as well as category certificate (if any) and eligibility to be determined by the competent authority.
                    li The applicant will abide by the rules and regulations currently in force or those that may be made applicable by the Institute.
                    li No complaint or FIR has been lodged against the applicant by the university/principal of the constituent Institute/affiliated Institute.

                p.margin-top-xs If you have any questions or require further information regarding the admission process, please feel free to reach out to our admissions department. We are here to assist you and address any concerns you may have.
